##### pygsheets
- http://pygsheets.readthedocs.io/en/latest/
- https://github.com/nithinmurali/pygsheets
- $ pip3 install pygsheets

##### get oauth 2.0 client id
- http://pygsheets.readthedocs.io/en/latest/authorizing.html#oauth-credentials
- 인증 하기

변수 사용
- gc : 인증완료후 구글 드라이버에 접속할수 있는 객체
- sh : 파일접속후 전체 시트 객체
- sheet : 시트를 담은 변수
- cell : 셀을 담은 변수

In [1]:
import pygsheets

##### access
- 시트 파일에 접속
- oauth 2.0 인증후 다운 받은 json 파일을 outh_file을 키로하는 키워드 파라미터로 authorize 함수를 호출합니다.
- 아래 코드를 실행하면 oauth 인증 허용 웹 페이지가 뜨고 허용으로 인증을 허용해야 google spreadsheet api를 사용할수 있습니다.

In [2]:
gc = pygsheets.authorize(outh_file='client_secrete.json')

##### open sheet
- 구글 드라이브로 가서 새로운 시트를 만듭니다.
- 시트 파일 이름으로 시트를 오픈합니다.
- open 함수에 시트의 이름을 파라미터로 넣어 구글 드라이버에 있는 시트 파일을 아래와 같이 열수 있습니다.
- sh로 오픈한 시트 파일의 시트는 sh.sheet1으로 첫번째 시트를 가져올수 있습니다.
- 처음에는 항상 첫번째 시트를 가져오고 selecting기능으로 다른 시트에 접근할수 있습니다.

In [5]:
sh = gc.open('email') # 파일 열기 (sh : 전체 시트에 대한 객체)
sheet1 = sh.sheet1    # 시트 접근 (sheet1 : 첫번째 시트에 대한 객체)
sheet1

##### create sheet
- 시트 생성
- add_worksheet 함수를 이용하여 생성할 시트이름, 행과 열의 크기를 파라미터로 넘겨 새로운 시트를 생성할수 있습니다.

In [7]:
# 5칸, 20줄을 가지는 new_sheet라는 이름의 새로운 시트를 생성하여 sheet2라는 변수에 넣어줌
sheet2 = sh.add_worksheet("new_sheet2", rows=20, cols=5)
sheet2

##### copy sheet
- 시트 복사
- add_worksheet를 이용하여 src_worksheet 파라미터에 복사할 시트를 파라미터로 넘기면 새로운 시트를 생성할때 src_worksheet에 설정한 시트가 복사 됩니다.

In [9]:
# sheet1을 복사하여 email_copied라는 title의 새로운 시트를 생성하여 sheet3이라는 변수에 넣어줌
sheet3 = sh.add_worksheet("email_copied2", src_worksheet=sheet1)
sheet3

##### delete sheet
- 시트 삭제
- del_worksheet에 삭제한 시트 객체를 파라미터로 넘기면 해당 시트가 삭제됩니다.

In [10]:
# sheet3 변수가 가지는 sheet를 삭제
sh.del_worksheet(sheet3)

##### selecting  sheet
- 시트가 모여있는 객체인 sh 객체에서 원하는 시트하나에 대한객체를 선택해서 가져오는 방법입니다.
- 제목과 순서에 대한 값으로 시트를 가져올수 있습니다.

In [19]:
# 모든 시트 리스트로 가져오기
sheet_list = sh.worksheets()
print(sheet_list)

[<Worksheet 'email_list_1' index:0>, <Worksheet 'iris' index:1>, <Worksheet 'new_sheet' index:2>, <Worksheet 'email_copied' index:3>, <Worksheet 'new_sheet2' index:4>, <Worksheet 'email_list_1의 사본' index:5>]

In [27]:
# 시트 제목으로 가져오기
sheet1 = sh.worksheet_by_title("iris")
print(new_sheet)

<Worksheet 'email_list_1' index:0>

In [28]:
# index로 시트 가져오기
sheet0 = sh.worksheet("index", 0)
print(sheet0)

<Worksheet 'email_list_1' index:0>

In [29]:
# 위에 저장한 첫번째 시트인 sheet1과 같은지 확인하기
sheet0 == sheet1

False

In [30]:
# offset으로 가져오기
sheet0 = sh[0]
print(sheet0)

<Worksheet 'email_list_1' index:0>

In [31]:
# 위에 저장한 첫번째 시트인 sheet1과 같은지 확인하기
sheet0 == sheet1

False

##### get values

In [33]:
# 전체 데이터 리스트로 가져오기 (딕셔너리타입)
sheet0.get_all_records()

[{'순번': 1, '이름': '박두진', '이메일': 'pdj1224@gmail.com'},
 {'순번': 2, '이름': '김상진', '이메일': '1221pdj@naver.com'},
 {'순번': 3, '이름': '최운성', '이메일': 'pdj1224@daum.net'}]

In [35]:
# 모든 데이터 행렬로 가져오기 (리스트타입)
all_data_sheet0 = sheet0.get_all_values(returnas='matrix')
all_data_sheet0

[['순번', '이름', '이메일'],
 ['1', '박두진', 'pdj1224@gmail.com'],
 ['2', '김상진', '1221pdj@naver.com'],
 ['3', '최운성', 'pdj1224@daum.net']]

In [36]:
# 위치를 지정하여 행렬 형태로 데이터 가져오기
some_data_sheet0 = sheet0.get_values(start=(2,2), end=(3,3), returnas='matrix')
some_data_sheet0

[['박두진', 'pdj1224@gmail.com'], ['김상진', '1221pdj@naver.com']]

In [37]:
# "시트[행][열]"과 같은 방법으로 특정 셀의 데이터를 가져올수 있습니다.
value = sheet1[3][2] 
value

'3.2'

In [40]:
# 문자열 찾기
cell_list = sh[0].find("pdj1224@gmail.com")
cell_list

In [41]:
# 특정 문자열이 있는 셀을 찾아서 다른 문자열로 바꾸기
cell_list = sh[0].find("pdj1224@gmail.com", replace="radajin1224@gmail.com")
cell_list

In [42]:
# csv 파일로 export하기
sheet0.export(pygsheets.ExportType.CSV, filename="sheet1.csv")

sheet1.csv

##### update & insert

In [62]:
# A1에서 C4까지의 위치에 some_data_sheet1 데이터로 업데이트함
sh[0].update_cells(crange='A7:C8', values=some_data_sheets)    # --- ?

NameError: name 'some_data_sheets' is not defined

In [51]:
# sh[1] 위치에 있는 두번째 시트에 대한 모든 데이터를 가져옴
all_data_sheet2 = sh[0].get_all_values()
all_data_sheet2

[['순번', '이름', '이메일'],
 ['1', '박두진', 'radajin1224@gmail.com'],
 ['2', '김상진', '1221pdj@naver.com'],
 ['3', '최운성', 'pdj1224@daum.net']]

In [60]:
# 4번째줄 아래로 2줄 삽입 (5,6번째줄에 데이터 삽입)
sh[0].insert_rows(row=4, number=2, values=all_data_sheet2)

In [61]:
# 시트의 열과 행을 재설정해줌
sh[0].rows=7
sh[0].cols=2

In [63]:
# 반복문을 통해 한줄씩 읽어 올수 있음
for row in sh[0]:
    print(row[1])

이름
박두진
김상진
최운성
이름
박두진
김상진

In [65]:
# 시트의 제목을 업데이트
sh[0].title = "NewSheet"

In [66]:
# 시트의 마지막 데이터를 찾아 마지막 데이터의 아래에 데이터를 추가
sh[0].append_table(values=["이민성","pdj1224@gmail.com"])

##### delete

In [38]:
# 시트 내용 모두 삭제하기
sh[1].clear()

##### change to pandas
- google sheet를 데이터 분석을 위한 파이썬 패키지인 pandas의 DataFrame으로 변환할수 있다.

In [39]:
import pandas as pd

In [40]:
sheet1

In [41]:
df = pd.DataFrame(columns=["순번","이름","이메일"])
sheet1.set_dataframe(df,(1,1)) # 1,1로 해야 1,1 위치의 셀부터 데이터를 가져옵니다.
df = sheet1.get_as_df()
df

   순번   이름                이메일
0   1  박두진  pdj1224@gmail.com
1   2  김상진  1221pdj@naver.com
2   3  최운성   pdj1224@daum.net

In [42]:
# csv 파일로 저장
df.to_csv("email.csv", index=False)

In [43]:
# csv 파일 읽어오기
df = pd.read_csv("email.csv")
df

   순번   이름                이메일
0   1  박두진  pdj1224@gmail.com
1   2  김상진  1221pdj@naver.com
2   3  최운성   pdj1224@daum.net

##### Cell

In [44]:
# sheet1을 cell_test 시트를 만들어 복사한다.
test_sheet = sh.add_worksheet("cell_test", src_worksheet=sheet1)
test_sheet

In [45]:
# 특정 셀의 객체 가져오기
b2 = test_sheet.cell('B2')

# 셀 값 확인
print(b2.value)

# b2 객체의 3번째 칸의 데이터를 b2에 할당
b2.col = 3

# 셀 값 확인
print(b2.value)

박두진
pdj1224@gmail.com

In [46]:
# b2에 해당하는 위치의 데이터를 "pdj1224@gmail.com"로 바꿈
b2.value = "pdj1224@gmail.com"
b2.value

'pdj1224@gmail.com'

In [47]:
# C2 위치의 데이터를 'radajin1224@gmail.com'로 업데이트함
test_sheet.update_cell('C2', 'radajin1224@gmail.com')

In [48]:
# A1에서 C4의 셀 리스트 가져옴
cell_list = test_sheet.range('A1:C4')
print(cell_list)

[[<Cell R1C1 '순번'>, <Cell R1C2 '이름'>, <Cell R1C3 '이메일'>], [<Cell R2C1 '1'>, <Cell R2C2 '박두진'>, <Cell R2C3 'radajin1224@gmail.com'>], [<Cell R3C1 '2'>, <Cell R3C2 '김상진'>, <Cell R3C3 '1221pdj@naver.com'>], [<Cell R4C1 '3'>, <Cell R4C2 '최운성'>, <Cell R4C3 'pdj1224@daum.net'>]]

In [49]:
# A1에서 C4의 셀 리스트 가져옴
cell_list = test_sheet.get_values('A1','C4', returnas='cells')
print(cell_list)

[[<Cell R1C1 '순번'>, <Cell R1C2 '이름'>, <Cell R1C3 '이메일'>], [<Cell R2C1 '1'>, <Cell R2C2 '박두진'>, <Cell R2C3 'radajin1224@gmail.com'>], [<Cell R3C1 '2'>, <Cell R3C2 '김상진'>, <Cell R3C3 '1221pdj@naver.com'>], [<Cell R4C1 '3'>, <Cell R4C2 '최운성'>, <Cell R4C3 'pdj1224@daum.net'>]]

In [50]:
# 두번째 줄의 셀 리스트 가져옴
cell_list = test_sheet.get_row(2, returnas='cells')
print(cell_list)

[<Cell R2C1 '1'>, <Cell R2C2 '박두진'>, <Cell R2C3 'radajin1224@gmail.com'>]

In [51]:
%%time
cell = test_sheet.cell('C2')

# 노트 추가
cell.note = "this is email data."

# 셀 배경 색상 변경 (Red, Green, Blue, Alpha
cell.color = (1.0,1.0,0.0,1.0) 

# 텍스트 포멧 변경
cell.text_format['fontSize'] = 12
cell.text_format['bold'] = True

# sync the changes
cell.update()

CPU times: user 412 ms, sys: 34 ms, total: 446 ms
Wall time: 8.47 s

##### share

In [52]:
# add
sh.share("radajin1224@gmail.com")

In [53]:
# remove
sh.remove_permissions("radajin1224@gmail.com")

''

##### all clear

In [54]:
sh.del_worksheet(sh[1])
sh.del_worksheet(sh[1])

##### seaborn에서 iris 데이터를 가져와서 구글 데이터 시트에 넣기

In [55]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [56]:
# 새로운 시트 만들기
iris_sheet = sh.add_worksheet("iris")

In [57]:
iris_sheet.set_dataframe(iris, 'A1', copy_index=True) # (df, cell_start)