# numpy

### Make
- array
- reshape
- index
- zeros
- ones
- eye
- like
- empty
- arange
- linespace, logspace
- rand, randn
- stack (수직으로 수평으로 합칠 때)
- concatenate (데이터를 합칠 때)
- split (데이터를 나누고)
- sort (데이터를 정렬할 때)

In [1]:
import numpy as np

##### array
- ndim : 행렬의 차원
- shape : 행렬의 모양

In [3]:
# 1차원 배열 (vector)
array = np.array([0,1,2,3,4,5])
print(type(array))
print(array)


# 리스트가 아니라 comma가 없다

<class 'numpy.ndarray'>
[0 1 2 3 4 5]

In [4]:
# 2차원 배열 (1*3 matrix)
array = np.array([[0],[1],[2]]) 
print(array)

[[0]
 [1]
 [2]]

In [5]:
# 2차원 배열 (3*2 matrix)
array = np.array([
    [0,1,2],
    [3,4,5]
]) 
print(array)

[[0 1 2]
 [3 4 5]]

In [6]:
# 3차원 배열 (2*3*4 matrix)
array = np.array([
    [[0,1,2,3],
     [4,5,6,7],
     [8,9,10,11]],
    [[0,1,2,3],
     [4,5,100,7],
     [8,9,10,11]]
]) 
print(array)
print(array.ndim, array.shape) 
# 바깥에서 안으로 모양을 나타낸다고 생각하면 편함


# ndim = number of dimension
# shape = n x m 행렬인지 알려줌

[[[  0   1   2   3]
  [  4   5   6   7]
  [  8   9  10  11]]

 [[  0   1   2   3]
  [  4   5 100   7]
  [  8   9  10  11]]]
3 (2, 3, 4)

##### reshape
- 행렬의 모양을 바꿀수 있다.

In [9]:
na = np.array([1,2,3,4,5,6,7,8])
na

array([1, 2, 3, 4, 5, 6, 7, 8])

In [10]:
na.reshape(2,4)

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [11]:
rna = np.reshape(na,(4,2))
rna

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [12]:
# 전치행렬
rna.T

array([[1, 3, 5, 7],
       [2, 4, 6, 8]])

##### index
- 행렬의 특정 위치 데이터 값 가져오기
- 행렬 자르기

In [14]:
array

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[  0,   1,   2,   3],
        [  4,   5, 100,   7],
        [  8,   9,  10,  11]]])

In [15]:
print(array[1][1][2])  #2개 중 2번 째, 3개 중 2번 째, 4개 중 3번 째
print(array[1,1,2])

100
100

In [16]:
result = array[1:,1:,2:]
print(result)
print(result.ndim, result.shape)

[[[100   7]
  [ 10  11]]]
3 (1, 2, 2)

In [21]:
result = array[1][2][2]
result1 = array[1, 2, 2]
print(result)
print(result1)

10
10

In [23]:
result = array[1:, 1:, 2:]
result

array([[[100,   7],
        [ 10,  11]]])

##### zeros
- 행렬을 만들고 안에 0으로 채워 넣는다.

In [25]:
# 1차원
z = np.zeros(5)
print(z)
print(z.ndim, z.shape)

[ 0.  0.  0.  0.  0.]
1 (5,)

In [26]:
# 2차원 (2*3)
z = np.zeros((2,3))
print(z)
print(z.ndim, z.shape)

[[ 0.  0.  0.]
 [ 0.  0.  0.]]
2 (2, 3)

In [27]:
# 3차원 (2*3*4)
z = np.zeros([2,3,4])
print(z)
print(z.ndim, z.shape)

[[[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]

 [[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]]
3 (2, 3, 4)

##### ones
- 행렬을 만들고 안에 1을 채워 넣는다.

In [28]:
# 3차원 (2*3*4)
o = np.ones([2,3,4])
print(o)
print(o.ndim, o.shape)

[[[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]

 [[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]]
3 (2, 3, 4)

##### eye
- 단위 행렬 데이터를 만든다.

In [29]:
# 단위행렬
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

##### like
- 행렬 안에 있는 모든 데이터를 0이나 1로 바꿀수 있다.

In [31]:
z

array([[[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]],

       [[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]]])

In [32]:
ls = np.ones_like(z)
print(ls)
print(ls.ndim, ls.shape)

[[[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]

 [[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]]
3 (2, 3, 4)

In [33]:
o

array([[[ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.]],

       [[ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.]]])

In [34]:
ls = np.zeros_like(o)
print(ls)
print(ls.ndim, ls.shape)

[[[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]

 [[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]]
3 (2, 3, 4)

##### empty
- 빈행렬을 만든다.
- 실제로는 빈데이터가 아니라 더미 데이터가 들어간다

In [35]:
a = np.empty((5,5))
print(a)

[[  0.00000000e+000   0.00000000e+000   2.14321575e-312   1.03163179e-071
    4.09537141e+126]
 [  2.08600890e-308   0.00000000e+000   0.00000000e+000   4.94065646e-323
    0.00000000e+000]
 [  2.12199579e-314   1.16095484e-028   1.71352438e+214   1.17149199e+214
    1.67793285e+243]
 [  1.67793307e+243   8.03704417e-095   9.03292329e+271   9.08366793e+223
    7.98460089e+159]
 [  8.09291803e+175   5.56218858e+180   2.97912157e+228   9.44872517e-143
    6.81191604e-310]]

##### arange
- range와 같다.
- 하지만 큰데이터에서 range 보다 속도가 빠르다

In [38]:
# range와 arange의 속도 비교
size = int(1E6) # E : exponential
%timeit for x in range(size): x ** 2
%timeit for x in np.arange(size): x ** 2

335 ms ± 9.52 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
223 ms ± 4.47 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [39]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
np.arange(5,10)

array([5, 6, 7, 8, 9])

In [41]:
np.arange(2,10,3)

array([2, 5, 8])

In [42]:
np.arange(10,1,-2)

array([10,  8,  6,  4,  2])

##### linspace, logspace

In [43]:
np.linspace(0, 100, 5)

array([   0.,   25.,   50.,   75.,  100.])

In [44]:
# log10(x)=2, log10(x)=2.5, log10(x)=3
# 10**2, 10**2.5, 10**3
print(np.logspace(2, 4, 3))
print(np.logspace(2, 3, 3))

[   100.   1000.  10000.]
[  100.           316.22776602  1000.        ]

In [45]:
10**2, 10**2.5, 10**3

(100, 316.22776601683796, 1000)

##### random
- seed 값을 기준으로 난수 출력 (바꾸고 싶으면 시드값을 바꿔본다)
- rand (uniform)
- randn (gaussian)
- randint
- shuffle
- choice

In [46]:
np.random.seed(0)
rd = np.random.rand(10)   # uniform 으로 난수 발생  (균등분포) - 균등하게 출력
rdn = np.random.randn(10) # gaussian 으로 난수 발생 (정규분포 - 0에 가까운수가 많이 나옴)
print(rd)
print(rdn)

[ 0.5488135   0.71518937  0.60276338  0.54488318  0.4236548   0.64589411
  0.43758721  0.891773    0.96366276  0.38344152]
[ 0.14404357  1.45427351  0.76103773  0.12167502  0.44386323  0.33367433
  1.49407907 -0.20515826  0.3130677  -0.85409574]

In [47]:
# e-01 -> (10**-1)
np.random.seed(1)
rd = np.random.rand(4)
rdn = np.random.randn(4)
print(rd)
print(rdn)

[  4.17022005e-01   7.20324493e-01   1.14374817e-04   3.02332573e-01]
[-0.52817175 -1.07296862  0.86540763 -2.3015387 ]

In [48]:
r = np.random.rand(2,3,4)
print(r)

[[[ 0.41919451  0.6852195   0.20445225  0.87811744]
  [ 0.02738759  0.67046751  0.4173048   0.55868983]
  [ 0.14038694  0.19810149  0.80074457  0.96826158]]

 [[ 0.31342418  0.69232262  0.87638915  0.89460666]
  [ 0.08504421  0.03905478  0.16983042  0.8781425 ]
  [ 0.09834683  0.42110763  0.95788953  0.53316528]]]

In [49]:
r = np.random.randint(0,10,(3,3)) #int 형태, 균등분포
print(r)

[[4 8 1]
 [4 0 3]
 [9 2 0]]

In [50]:
r = np.random.randint(10, size=(3,4))
r

array([[4, 9, 2, 7],
       [7, 9, 8, 6],
       [9, 3, 7, 7]])

In [58]:
r = np.random.randint(0, 20, size=(3,3))
r

array([[13,  6,  6],
       [ 2, 12, 11],
       [ 7, 13,  8]])

In [51]:
# shuffle로 데이터의 순서를 바꿀수 있다.
np.random.shuffle(r)
r

# 맨 바깥 차원만 셔플이 된다
# or, 일렬로 세운 뒤 셔플을 하면 모든 셔플이 가능

array([[9, 3, 7, 7],
       [4, 9, 2, 7],
       [7, 9, 8, 6]])

In [52]:
# p의 확률로 range(5)를 10개 추출
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

array([3, 0, 3, 3, 2, 3, 3, 3, 3, 2])

In [61]:
# unique로 데이터의 유일한 값에 대한 리스트와 값의 갯수를 구할수 있다
index, count = np.unique(r, return_counts=True)
print(index)
print(count)

[ 2  6  7  8 11 12 13]
[1 2 1 1 1 1 2]

##### stack
- 행렬을 쌓는것과 같이 합치는 방법

In [62]:
na1 = np.arange(6)
na2 = np.arange(6,12)
print(na1, na1.shape)
print(na2, na2.shape)

[0 1 2 3 4 5] (6,)
[ 6  7  8  9 10 11] (6,)

In [63]:
na3 = np.stack((na1, na2))
print(na3, na3.shape)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]] (2, 6)

In [66]:
na3 = np.stack((na1, na2))   # axis 수평으로 쌓임 ; 기본 값
print(na3, na3.shape)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]] (2, 6)

In [67]:
na3 = np.stack((na1, na2), axis=1)   # axis 수직
print(na3, na3.shape)

[[ 0  6]
 [ 1  7]
 [ 2  8]
 [ 3  9]
 [ 4 10]
 [ 5 11]] (6, 2)

In [68]:
# practice 1
ls = []
for i in range(5):
    print(range(7), i, i+3)
    print(range(7)[i:i+3])
    print(list(range(7)[i:i+3]), end="\n\n")
    ls.append(range(7)[i:i+3])    
ls

range(0, 7) 0 3
range(0, 3)
[0, 1, 2]

range(0, 7) 1 4
range(1, 4)
[1, 2, 3]

range(0, 7) 2 5
range(2, 5)
[2, 3, 4]

range(0, 7) 3 6
range(3, 6)
[3, 4, 5]

range(0, 7) 4 7
range(4, 7)
[4, 5, 6]

[range(0, 3), range(1, 4), range(2, 5), range(3, 6), range(4, 7)]

In [69]:
# 수직으로 합치기
np.vstack(ls)

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [70]:
# 수평으로 합치기. 하지만 리스트가 된다
np.hstack(ls)  #horizontal

array([0, 1, 2, 1, 2, 3, 2, 3, 4, 3, 4, 5, 4, 5, 6])

In [73]:
# 수평으로 합치기
data = [list(range(7)[i:i+3]) for i in range(5) ] 
print(data)
np.stack(data, axis=1)
# np.stack(data, axis=-1) axis는 1, -1 동일하다

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]

array([[0, 1, 2, 3, 4],
       [1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6]])

In [75]:
# practice 2
np.arange(5)

array([0, 1, 2, 3, 4])

In [76]:
# practice 2
np.arange(5)[:, np.newaxis]

array([[0],
       [1],
       [2],
       [3],
       [4]])

##### concatenate (결합)
- 가로 결합은 열의 갯수가 같아야 한다.
- 세로 결합은 행의 갯수가 같아야 한다.

In [78]:
r1 = np.random.randint(10, size=(2,3))
print(r1, r1.shape)

[[0 2 0]
 [7 1 7]] (2, 3)

In [79]:
r2 = np.random.randint(10, size=(3,2))
print(r2, r2.shape)

[[9 8]
 [4 0]
 [1 9]] (3, 2)

In [81]:
r3 = np.random.randint(10, size=(3,3))
print(r3, r3.shape)

[[9 2 6]
 [6 2 7]
 [7 0 6]] (3, 3)

In [82]:
# 가로 결합
np.concatenate([r1, r3], axis=0)  # axis = 0

array([[0, 2, 0],
       [7, 1, 7],
       [9, 2, 6],
       [6, 2, 7],
       [7, 0, 6]])

In [83]:
# 세로 결합
np.concatenate([r2, r3], axis=1)   # axis = 1

array([[9, 8, 9, 2, 6],
       [4, 0, 6, 2, 7],
       [1, 9, 7, 0, 6]])

In [173]:
np.c_[np.array([1, 2, 3]), np.array([4, 5, 6])]  # stack과 비슷

array([[1, 4],
       [2, 5],
       [3, 6]])

In [174]:
np.r_[np.array([1, 2, 3]), np.array([4, 5, 6])]

array([1, 2, 3, 4, 5, 6])

##### split

In [84]:
r = np.arange(5,20)
r

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [85]:
r1 = np.split(r, [5]) # 앞에서 5번째를 기준으로 나눈다
r1

[array([5, 6, 7, 8, 9]), array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])]

In [86]:
# r1에는 나눈 데이터의 첫번째 데이터가 
# r2에는 나눈 데이터의 두번째 데이터가 들어간다
r1, r2 = np.split(r, [5]) 
r1, r2

(array([5, 6, 7, 8, 9]), array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]))

In [87]:
r1, r2, r3, r4, r5 = np.split(r, [2,4,6,8]) # 2,4,6,8을 기준으로 나눠 5개의 array 데이터가 생성된다.
r1, r2, r3, r4, r5

(array([5, 6]),
 array([7, 8]),
 array([ 9, 10]),
 array([11, 12]),
 array([13, 14, 15, 16, 17, 18, 19]))

##### vsplit/hsplit
- 행렬을 수직, 수평으로 나눈다

In [178]:
r = np.random.randint(10, size=(4,6))
r

array([[3, 8, 9, 7, 0, 5],
       [2, 2, 8, 5, 0, 5],
       [9, 8, 6, 6, 0, 4],
       [7, 3, 0, 1, 6, 0]])

In [179]:
# 수평으로 2개씩 자름
r1, r2 = np.vsplit(r, [2])
print(r1)
print(r2)

[[3 8 9 7 0 5]
 [2 2 8 5 0 5]]
[[9 8 6 6 0 4]
 [7 3 0 1 6 0]]

In [182]:
# variation
r1, r2, r3= np.vsplit(r, [1, 2])  # 1 위치에서 한번 자르고, 2 위치에서 한번 자르고
print(r1)
print(r2)
print(r3)

np.vsplit

[[3 8 9 7 0 5]]
[[2 2 8 5 0 5]]
[[9 8 6 6 0 4]
 [7 3 0 1 6 0]]

In [123]:
# 수직으로 3개씩 자름
r1, r2 = np.hsplit(r, [3])
print(r1)
print(r2)

[[4 0 4]
 [1 6 6]
 [6 0 0]
 [0 6 7]]
[[1 7 3]
 [9 6 9]
 [2 9 6]
 [0 3 9]]

In [184]:
# 수직으로 2개씩 자름
r1, r2, r3 = np.hsplit(r, [2, 4])
print(r1)
print(r2)
print(r3)

[[3 8]
 [2 2]
 [9 8]
 [7 3]]
[[9 7]
 [8 5]
 [6 6]
 [0 1]]
[[0 5]
 [0 5]
 [0 4]
 [6 0]]

##### sort

In [93]:
r1 = np.random.randint(10, size=(3,3))
print(r1)

[[4 6 8]
 [8 9 2]
 [7 5 5]]

In [94]:
# 가로로 sorting
r1.sort() # axis -1과 1은 같은 동작을 한다
r1

array([[4, 6, 8],
       [2, 8, 9],
       [5, 5, 7]])

In [95]:
# 세로로 sorting
r1.sort(axis=0) 
r1

array([[2, 5, 7],
       [4, 6, 8],
       [5, 8, 9]])

### 문제
1~9까지의 숫자가 들어가는 3*3 행렬을 만드세요 <br>
만든 행렬을 무작위로 섞으세요

In [118]:
r = np.random.randint(1,10, size=(3,3))
print(r)
r2 = r.reshape(1, 9)
r3 = np.random.shuffle(r2)
r3.reshape(3, 3)

[[8 6 2]
 [8 1 3]
 [9 3 2]]

AttributeError: 'NoneType' object has no attribute 'reshape'

In [117]:
result = np.arange(1, 10)
result1 = np.reshape(result, (3, 3))
np.random.shuffle(result1)
result1.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [ ]:
np.reshape

### Datatype
- boolean : bool
- integer : int64
- float : float64
- byte String : S24
- unicode String : U24

In [131]:
na = np.array([True, False])
na.dtype

dtype('bool')

In [132]:
na = np.array([1, 2, 3])
na.dtype

dtype('int64')

In [133]:
na = np.array([1.0, 2.0, 3.0])
na.dtype

dtype('float64')

##### change datatype 

아래와 같이 형변환 가능

In [138]:
na = np.array([-1.0, 0.0, 1.0, 2.2, 3.8])
print(na)

na = na.astype('int64')
print(na)

na = na.astype('bool')
print(na)

na = na.astype('S24')
print(na)

na = na.astype('U24')
print(na)

[-1.   0.   1.   2.2  3.8]
[-1  0  1  2  3]
[ True False  True  True  True]
[b'True' b'False' b'True' b'True' b'True']
['True' 'False' 'True' 'True' 'True']

In [140]:
# 5~10까지 랜덤한 숫자가 들어있는 5*5 행렬
na = np.random.rand(5,5)
print(na)

# 이렇게도 계산 가능
na = (na*6+5).astype('int64')
print(na)

# 소수는 버리게 된다

[[ 0.6931852   0.01271267  0.45954528  0.96131726  0.33418522]
 [ 0.47208342  0.10539125  0.50307591  0.88568986  0.53437734]
 [ 0.28147677  0.35458469  0.89628025  0.24148914  0.02388409]
 [ 0.9657268   0.4299679   0.34628852  0.57706763  0.12652616]
 [ 0.95004331  0.31361083  0.95283112  0.21839323  0.2487002 ]]
[[ 9  5  7 10  7]
 [ 7  5  8 10  8]
 [ 6  7 10  6  5]
 [10  7  7  8  5]
 [10  6 10  6  6]]

### Calculate
- basic calculate
- broadcasting
- functions
- performance

##### basic calculate

In [141]:
# 전통적인 방법 ...
# list ( ls *= 3 )
ls = [1,2,3,4,5]
print("before : {}".format(ls))
for idx in range(len(ls)):
    ls[idx] = ls[idx] * 3
print("after : {}".format(ls))

before : [1, 2, 3, 4, 5]
after : [3, 6, 9, 12, 15]

In [142]:
# np.array ( na *= 3 )
na = np.array(ls)
na *= 3
print(type(na), na)

<class 'numpy.ndarray'> [ 9 18 27 36 45]

In [143]:
na_2 = np.array([6,7,8,9,10])
result = na * na_2
print("{}\n{}\n{}".format(na, na_2, result))

[ 9 18 27 36 45]
[ 6  7  8  9 10]
[ 54 126 216 324 450]

In [144]:
# 9와 같으면 True, 30보다 크면 True
na == 9, na > 30

(array([ True, False, False, False, False], dtype=bool),
 array([False, False, False,  True,  True], dtype=bool))

In [145]:
# 3의 배수이면 True
idx = na_2 % 3 == 0
print(idx)

[ True False False  True False]

In [147]:
# 3의 배수만 남기기 - Ture, False 리스트를 offset으로 넣어주면 True인 데이터만 남는다. 
# 필터링과 비슷
print(na_2)
print(na_2[idx])

[ 6  7  8  9 10]
[6 9]

In [148]:
# 리스트에서 같은 수 추출하기
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
print(na1 == na2)
print(na1[na1 == na2])

[ True False  True  True False]
[1 3 4]

In [149]:
# 리스트에서 비교연산으로 수 추출하기
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
print(na1 >= na2)
print(na1[na1 >= na2])

[ True False  True  True  True]
[1 3 4 5]

In [150]:
# 전체 리스트 비교하기 (all)
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
na3 = np.array([1,2,3,4,5])
print(np.all(na1 == na2))
print(np.all(na1 == na3))

False
True

In [152]:
# 스칼라, 벡터, 행렬 각 요소 곱셈
na = np.arange(6)
na2 = np.arange(6,12)

print("array1 : {}".format(na))
print("array2 : {}".format(na2))

print("scala : {}".format(na * 10))
print("vector : {}".format(na * na2))

na3 = na.reshape(2,3)
na4 = na2.reshape(2,3)
print("array3 : \n{}".format(na3))
print("array4 : \n{}".format(na4))
print("matrix : \n{}".format(na3 * na4))

array1 : [0 1 2 3 4 5]
array2 : [ 6  7  8  9 10 11]
scala : [ 0 10 20 30 40 50]
vector : [ 0  7 16 27 40 55]
array3 :
[[0 1 2]
 [3 4 5]]
array4 :
[[ 6  7  8]
 [ 9 10 11]]
matrix :
[[ 0  7 16]
 [27 40 55]]

**broadcasting** 
하나만 적영해도 행렬의 모든 요소에 전부 적용

In [155]:
# broadcating exam 1  
na1 = np.arange(12)
na2 = na1.reshape(3,4)
print("na1 : \n{}".format(na1))
print("na2 : \n{}".format(na2))

na3 = np.ones_like(na1)
na3 = na3.reshape(3,4)
print("na3 : \n{}".format(na3))

print("na2 + 1 : \n{}".format(na2 + 1)) # + 1 만해도 행렬의 모든 요소에 1을 다 더한다. (broadcating 개념)
print("na2 + na3 : \n{}".format(na2 + na3))

na1 :
[ 0  1  2  3  4  5  6  7  8  9 10 11]
na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na3 :
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]
na2 + 1 :
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
na2 + na3 :
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [156]:
# broadcating exam 2
na4 = np.arange(4)
print("na2 : \n{}".format(na2))
print("na4 : \n{}".format(na4))

print("na2 + na4 : \n{}".format(na2 + na4)) # 모든 행에 n4를 다 더한다.

na5 = np.stack((na4, na4, na4))
print("na5 : \n{}".format(na5))

print("na2 + na5 : \n{}".format(na2 + na5))

na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na4 :
[0 1 2 3]
na2 + na4 :
[[ 0  2  4  6]
 [ 4  6  8 10]
 [ 8 10 12 14]]
na5 :
[[0 1 2 3]
 [0 1 2 3]
 [0 1 2 3]]
na2 + na5 :
[[ 0  2  4  6]
 [ 4  6  8 10]
 [ 8 10 12 14]]

In [157]:
# broadcating exam 3

na6 = np.arange(3)[:,np.newaxis]
print("na2 : \n{}".format(na2))
print("na6 : \n{}".format(na6))

print("na2 + na6 : \n{}".format(na2 + na6)) # 모든 열에 na6를 다 더한다.

na7 = np.array([[ i for _ in range(4)] for i in range(3)])
print("na7 : \n{}".format(na7))

print("na2 + na7 : \n{}".format(na2 + na7))

na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na6 :
[[0]
 [1]
 [2]]
na2 + na6 :
[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]
na7 :
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]]
na2 + na7 :
[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]

##### functions
- min, max, argmin, argmax
- sum, mean, median, std, var
- all, any
- quartile
- exp, log

In [160]:
r = np.random.rand(2,3)
r_num = np.arange(5)
r_num = (r*10).astype('int64')
print("random matrix : \n{}".format(r_num))
print("min : {}".format(r_num.min()))
print("max : {}".format(r_num.max()))
print("argmin : {}".format(r_num.argmin())) # 최소값 위치
print("argmax : {}".format(r_num.argmax())) # 최대값 위치
print("mean : {}".format(r_num.mean()))

random matrix :
[[7 2 0]
 [1 2 4]]
min : 0
max : 7
argmin : 2
argmax : 0
mean : 2.6666666666666665

In [161]:
r = np.random.rand(2,3)
r_num = np.arange(5)
r_num = (r*10).astype('int64')
print("random matrix : \n{}".format(r_num))
print("sum : {}".format(np.sum(r_num)))
print("sum_axis_0 : {}".format(np.sum(r_num, axis=0)))
print("sum_axis_1 : {}".format(np.sum(r_num, axis=1)))
print("median : {}".format(np.median(r_num)))  # 중앙값
print("std : {}".format(np.std(r_num))) # standard deviation (표준편차)
print("var : {}".format(np.var(r_num))) # variance (변화량)

random matrix :
[[3 6 6]
 [0 0 7]]
sum : 22
sum_axis_0 : [ 3  6 13]
sum_axis_1 : [15  7]
median : 4.5
std : 2.8674417556808756
var : 8.222222222222223

In [162]:
# all
# 모든 요소의 조건이 충족하면 True
n1 = np.array(range(3,8))
n2 = n1
n3 = np.array(range(1,11,2))

print(n1, n2, n3, end="\n\n")

print(n1 ==  n2)
print(np.all(n1 ==  n2))
print(n1 ==  n3)
print(np.all(n1 ==  n3))
print(n1 >  n3)
print(np.all(n1 >  n3))

[3 4 5 6 7] [3 4 5 6 7] [1 3 5 7 9]

[ True  True  True  True  True]
True
[False False  True False False]
False
[ True  True False False False]
False

In [165]:
# quartile (사분위수)
na = np.array([num for num in range(0,51)])
print(na)
np.percentile(na, 25), np.percentile(na, 45)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50]

(12.5, 22.5)

In [168]:
# exponential function (지수함수)
na = np.arange(1,6)
print(na)
print(np.exp(na))


# 데이터가 너무 작을 때, 숫자 간의 차이를 확대해서 보고 싶을 때

[1 2 3 4 5]
[   2.71828183    7.3890561    20.08553692   54.59815003  148.4131591 ]

In [169]:
# log function (로그함수)
na = np.arange(1,6)
print(na)
print(np.log(na))

# 데이터 값이 너무 커서, 차이를 축소해서 보고 싶을 때

[1 2 3 4 5]
[ 0.          0.69314718  1.09861229  1.38629436  1.60943791]

##### performance
- 10**7개의 리스트에서 3과 5의 배수의 갯수를 찾는 시간

In [170]:
ls = []
size = int(1E7)
for data in range(size):
    ls.append(data)
na = np.array(ls)

In [171]:
%%time
count = 0
for idx in range(len(ls)):
    if (ls[idx] % 3 == 0) or (ls[idx] % 5 == 0):
        count += 1
print(count)

4666667
CPU times: user 2.93 s, sys: 30.1 ms, total: 2.96 s
Wall time: 3.06 s

In [172]:
%%time
count = len(na[(na%3 == 0) | (na%5 == 0)])
print(count)

4666667
CPU times: user 396 ms, sys: 76.8 ms, total: 473 ms
Wall time: 490 ms