In [2]:
import numpy as np
import pandas as pd

In [3]:
songdata = pd.read_csv("songdata.csv")

print(songdata.shape)
songdata.head()

(57650, 4)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
songdata.columns

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [10]:
songdata_1 = songdata.groupby(["artist"]).size().reset_index(name="Counts")
songdata_1

                          artist  Counts
0                        'n Sync      93
1                           ABBA     113
2                    Ace Of Base      74
3                   Adam Sandler      70
4                          Adele      54
5                      Aerosmith     171
6                     Air Supply     174
7                  Aiza Seguerra      25
8                        Alabama     187
9           Alan Parsons Project     102
10                    Aled Jones      23
11                  Alice Cooper     174
12               Alice In Chains      95
13                 Alison Krauss     145
14          Allman Brothers Band     116
15                    Alphaville     105
16                       America     184
17                     Amy Grant     147
18                Andrea Bocelli      25
19                 Andy Williams     138
20                         Annie      32
21                 Ariana Grande      51
22                  Ariel Rivera      19
23                  Arlo Guthrie     113
24                Arrogant Worms      89
25                 Avril Lavigne     143
26               Backstreet Boys     164
27                        Barbie      18
28              Barbra Streisand     157
29                    Beach Boys     151
..                           ...     ...
613                Yolanda Adams      48
614  Yonder Mountain String Band      10
615                     You Am I      54
616                   Young Buck      17
617                    Young Dro       7
618                  Young Jeezy      57
619                  Youngbloodz      19
620               Youth Of Today      22
621                     Yukmouth      11
622                     Yung Joc       9
623                  Yusuf Islam      15
624                         Z-Ro      54
625                       ZZ Top     132
626               Zac Brown Band      31
627                   Zakk Wylde      21
628                          Zao      30
629                   Zayn Malik      15
630                        Zazie       2
631                        Zebra      20
632                    Zebrahead      76
633                          Zed       1
634                       Zero 7      24
635                   Zeromancer      30
636                 Ziggy Marley      64
637                          Zoe       1
638                      Zoegirl      38
639                       Zornik      12
640                          Zox      21
641                     Zucchero      30
642                         Zwan      14

[643 rows x 2 columns]