In [20]:
import requests
import time
from bs4 import BeautifulSoup

- 크롤링할 때는 
    - api 사용 (가장 권장)
    - html 코드 데이터를 가져온다
    - 셀레니움을 사용해서 직접 데이터를 가져온다  
    
    
- 무엇을 가져오나?
    - Json, XML

### Requests
- http://docs.python-requests.org/en/master/

##### 네이버 주식 데이터 가져오기
- api 사용 : json 파싱을 한다.
- 네이버 주식 페이지에서 주식 데이터를 가져와 데이터 프레임으로 만들기
- http://m.stock.naver.com

In [4]:
def make_url(pageSize=10, page=1):
    return "http://m.stock.naver.com/api/json/sise/siseListJson.nhn?menu=market_sum&sosok=0&pageSize=" + str(pageSize) + "&page=" + str(page)

def get_data(url):
    response = requests.get(url)
    json_info = response.json()
    companys = json_info["result"]["itemList"]
    df = pd.DataFrame(columns=["종목", "시세", "전일비", "등락율", "시가총액", "거래량"])
    for company in companys:
        df.loc[len(df)] = {
            "종목":company["nm"],
            "시세":company["nv"],
            "전일비":company["cv"],
            "등락율":company["cr"],
            "시가총액":company["mks"],
            "거래량":company["aq"],
        }
    return df

In [5]:
url = make_url(100,1)
df = get_data(url)
df.tail()

       종목      시세    전일비   등락율   시가총액     거래량
95  포스코대우   22500  -1500 -6.25  27759  551956
96     동서   27750   -650 -2.29  27667   71019
97  메리츠화재   23850   -850 -3.44  26316   76310
98   대림산업   75500  -3100 -3.94  26274  216100
99     만도  275500  -1000 -0.36  25873   39923

##### Dark Sky API
- 날씨 정보를 알려주는 api
- https://darksky.net/dev
- pip3 install python-forecastio
- forcastio :

In [8]:
import forecastio
FORECAST_TOKEN = "c259d4aeb593bc5e83d0c3f7ed916f5d"

In [9]:
def forecast(lat,lng):
    url = "https://api.darksky.net/forecast/{}/{},{}".format(FORECAST_TOKEN, lat, lng)
    response = requests.get(url)
    json_info = response.json()
    return json_info["hourly"]["summary"]

In [10]:
lat = 37.5124413
lng = 126.9540519
forecast(lat,lng)

'Clear throughout the day.'

In [11]:
def forecast(lat,lng):
    forecast = forecastio.load_forecast(FORECAST_TOKEN, lat, lng)
    byHour = forecast.hourly()
    return byHour.summary

In [12]:
lat = 37.5124413
lng = 126.9540519
forecast(lat,lng)

'Clear throughout the day.'

### BeautifulSoup
- https://www.crummy.com/software/BeautifulSoup/bs4/doc/
- pip3 install bs4  


- html 코드를 텍스트로 가져와서, parsing을 한다.
- parsing 후, selector를 사용해서 데이터를 가져온다.

##### 네이버 검색어 순위
- bs4 사용 : html element를 selector를 사용한다.
- 네이버 검색어 순위를 가져와 데이터 프레임으로 만들기
- http://naver.com

In [103]:
def naver_top20():
    df = pd.DataFrame(columns=["rank","keyword"])
    response = requests.get("http://naver.com")
    dom = BeautifulSoup(response.content, "html.parser")
    keywords = dom.select(".ah_roll .ah_l .ah_item")
    for keyword in keywords:
        df.loc[len(df)] = {
            "rank":keyword.select_one(".ah_r").text,
            "keyword":keyword.select_one(".ah_k").text,
        }
    return df

#PM_ID_ct > div.header > div.section_navbar > div.area_hotkeyword.PM_CL_realtimeKeyword_base > div.ah_roll.PM_CL_realtimeKeyword_rolling_base > div > ul > li:nth-child(6) > a > span.ah_r

In [104]:
naver_df = naver_top20()
naver_df

   rank        keyword
0     1      생생정보 택시맛객
1     2            몰디브
2     3            윤영주
3     4            이열음
4     5           생생정보
5     6      으라차차 와이키키
6     7            nct
7     8     클로버필드 패러독스
8     9            브이앱
9    10  국가장학금 소득분위 금액
10   11       생생정보 킹크랩
11   12            나훈아
12   13       한국소방안전협회
13   14          에스토니아
14   15       유웨이 어플라이
15   16       더 이스트라이트
16   17         발렌타인데이
17   18         테더 청문회
18   19           제주공항
19   20   2018 나훈아 콘서트

In [109]:
def navMusic_weekly():
    df_test = pd.DataFrame(columns=["title"])
    response = requests.get("http://music.naver.com")
    dom = BeautifulSoup(response.content, "html.parser")
#     keywords = dom.select(
#         'table > tbody > tr > td > a > span '
#     )
    
    keywords = dom.find_all(
    ".ellipsis"
    )
    
    for keyword in keywords:
        df_test.loc[len(df_test)] = {
            "title":keyword.select_one(".ellipsis").text
            
        }
    return df_test

#content > div.NE\3d a\3a t1k > div._tracklist_mytrack.tracklist_table.tracklist_type1 > table > tbody > tr:nth-child(2) > td.name > a._title.title.NPI\3d a\3a track\2c r\3a 1\2c i\3a 20549608

Empty DataFrame
Columns: [title]
Index: []

##### 다음 검색어 순위

In [13]:
def daum_top10():
    df = pd.DataFrame(columns=["rank","keyword"])
    response = requests.get("http://daum.net")
    dom = BeautifulSoup(response.content, "html.parser")
    keywords = dom.select("#mArticle ol.list_hotissue.issue_row.list_mini > li")
    for keyword in keywords:
        df.loc[len(df)] = {
            "rank":keyword.select_one(".ir_wa").text.replace("위",""),
            "keyword":keyword.select_one(".link_issue").text,
        }
    return df

In [14]:
daum_df = daum_top10()
daum_df

  rank       keyword
0    1           몰디브
1    2        한국장학재단
2    3           김희애
3    4            선미
4    5           강수지
5    6  청와대 국민청원홈페이지
6    7           김국진
7    8           오세훈
8    9     건국대학교 입학처
9   10          제주공항

##### 중복된 키워드 찾아서 출력하기

In [18]:
result = [keyword for keyword in daum_df["keyword"] if naver_df["keyword"].str.contains(keyword).any() ]
result

['몰디브', '한국장학재단', '김희애', '선미', '제주공항']

### file download

In [19]:
def download(title, download_link):
    response = requests.get(download_link, stream=True)
    download_path = "./data/" + title
    size = 0
    with open(download_path, 'wb') as f:     # write binary
        for chunk in response.iter_content(chunk_size=1024): 
            if chunk:
                size += 1024
                f.write(chunk)
    return size

In [15]:
title = "iPhone X is Here — Apple.mp4"
download_link = "http://bit.ly/2FLpRF9"
size = download(title, download_link)
print("download done : {} Mbyte".format(round(size/1024/1024,2)))

download done : 7.12 Mbyte

# 연습

In [111]:
def navMusic_weekly():
    df_test = pd.DataFrame(columns=["title"])
    response = requests.get("http://music.naver.com")
    dom = BeautifulSoup(response.content, "html.parser")
#     keywords = dom.select(
#         'table > tbody > tr > td > a > span '
#     )
    
    keywords = dom.find_all(
    ".ellipsis"
    )
    
    for keyword in keywords:
        df_test.loc[len(df_test)] = {
            "title":keyword.select_one(".ellipsis").text
            
        }
    return df_test

#content > div.NE\3d a\3a t1k > div._tracklist_mytrack.tracklist_table.tracklist_type1 > table > tbody > tr:nth-child(2) > td.name > a._title.title.NPI\3d a\3a track\2c r\3a 1\2c i\3a 20549608

In [112]:
navMusic_weekly()

Empty DataFrame
Columns: [title]
Index: []