In [10]:
import requests
import time
from bs4 import BeautifulSoup

In [24]:
def get_holiday():
    
    df = pd.DataFrame(columns=["date","day","name"])
    response = requests.get("https://www.officeholidays.com/countries/usa/2012.php")
    dom = BeautifulSoup(response.content, "html.parser")
    keywords = dom.select("#wrapper div.twelve.columns > table.list-table")
    
    for keyword in keywords:
        df.loc[len(df)] = {
            "date" : keyword.select("").text,
            "day" : keyword.select("").text,
            "name" : keyword.select("").text,
        }
    return df


#wrapper div.twelve.columns > table.list-table

In [25]:
get_holiday()

AttributeError: 'list' object has no attribute 'text'

In [5]:
df = pd.DataFrame(columns=["date","day","name"])

In [6]:
df

Empty DataFrame
Columns: [date, day, name]
Index: []