# Basic Syntax

- 식별자
- 변수
- 자료형
- 데이터 형변환
- 연산자

In [1]:
# 샵을 통해 코멘트를 적으면 됩니다

def sum(a,b):
    return (2,5)

In [2]:
print(123)

123

In [3]:
print("string")

string

In [4]:
print(123)
print("asdf")

123
asdf

## (1) 식별자_identifier

## (2) 변수_variable

#### different types of naming for readability

snake_cass<br>
PascalCase<br>
camelCase

## (3) 자료형_data type

3.1 Type

Numbers Type<br>
- Numbers (int, float, complex복소수)
- Boolean (True, False) : 이산연산
- String 문자열 선언

Collection<br>
- List  : 순서가 있는 데이터
- Tuple : 순서가 있는 데이터 (변경 불가능)
- Dictionary : Key & Value로 묶어져 있음
- Set : 순서 x, 중독 되지 않는 데이터 타입

### Example : Collection (Datatype)

#### 3.2 List : use [ ____ ]

In [7]:
a = ["fast", "campus", "data", "science"]
b = [1, 2, [3,4], 4]
c = [1, "fast", True]
print(type(a), type(b), type(c))    # 전부 다 List

a, b, c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, [3, 4], 4], [1, 'fast', True])

3.2.1 List offset

In [9]:
print(a[1], a[-2], a[1:3], a[::-2])

campus data ['campus', 'data'] ['science', 'campus']

In [10]:
a[-2] = "pdj"

In [12]:
a

# pdj로 대치

['fast', 'campus', 'pdj', 'science']

3.2.2 List Method

```
- append() : 데이터 추가
- sort() : 오름차순 정렬
- reverse() : 내림차순 정렬
- index() : 데이터 위치 출력
- insert() : 특정 위치에 데이터 추가
- remove() : 해당 되는 데이터 값 삭제
- pop() : 가장 마지막 값 리턴 후 삭제
```

In [28]:
a = ["fast", "campus", "data", "science"]

In [29]:
a.append("school")
a

['fast', 'campus', 'data', 'science', 'school']

In [30]:
a.sort()
print(a)    #숫자도 마찬가지다

['campus', 'data', 'fast', 'school', 'science']

In [31]:
a.reverse()
print(a)

['science', 'school', 'fast', 'data', 'campus']

In [33]:
a.sort(key=len)    #글자 수 대로 정렬
a

['fast', 'data', 'school', 'campus', 'science']

In [39]:
a = ["fast", "campus", "data", "science"]

In [40]:
a.index("data")

2

In [41]:
a.insert(2, "index")
a

['fast', 'campus', 'index', 'data', 'science']

In [42]:
a.remove("index")
a

['fast', 'campus', 'data', 'science']

In [43]:
a.pop()

'science'

In [44]:
a

['fast', 'campus', 'data']

3.2.3 List offset

In [65]:
a = [1,2,3,4,5]

In [66]:
a[1]

2

In [67]:
a[1] = "Fast"
print(a)

[1, 'Fast', 3, 4, 5]

In [70]:
a[1:4] = "123"
a

# 하나의 리스트로 인식하여, 리스트 구성원으로 쪼개서 들어가기  때문

[1, '1', '2', '3', 5]

3.2.4 List copy

In [18]:
a = [1,2,3]
b = a

print (a, b)

[1, 2, 3] [1, 2, 3]

In [19]:
a[2] = 7
print (a, b)

[1, 2, 7] [1, 2, 7]

In [45]:
c = a.copy()
print(a, c)

['fast', 'campus', 'data'] ['fast', 'campus', 'data']

In [46]:
a[2] = 5
print(a,c)

['fast', 'campus', 5] ['fast', 'campus', 'data']

#### 3.3 Tuple : 수정이 불가능하다

In [54]:
a = 1, 2, 3, 4
b = "fast", "campus", "data", "science"
c = 1, "fast", True
d = (1, "fast", True)
print(type(a), type(b), type(c), type(d))
print(a, b, c, d)

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3, 4) ('fast', 'campus', 'data', 'science') (1, 'fast', True) (1, 'fast', True)

In [56]:
a = 1,2,3,4,5

In [58]:
a[4] = 7   # 수정이 안 된다

TypeError: 'tuple' object does not support item assignment

튜플의 장점
- 리스트보다 더 작은 공간 사용
- 데이터 수정이 안 되기 때문에 협업할 때 실수로 수정을 방지할 수 있음
- Dictionary이 key로 사용이 가능

#### 3.4 Dictionary : Key & Value로 이루어짐

In [60]:
dic = { 
    1:"one",
    "A": ["data", "science"],
    "숫자": 1234,
    }
print(type(dic))
print(dic)

<class 'dict'>
{1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [62]:
# Dictionary value 수정

dic[1] = "하나"
dic["A"] = "알파벳"

dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

Dictionary Quiz

In [72]:
data = {
    "A": {"수학":80, "영어":100, "과학":90}, 
    "B": {"수학":70, "영어":100, "과학":100},
}

# 꼭 한 줄 뒤에 comma를 붙여라
# Github 관리할 때 용이함

data

{'A': {'과학': 90, '수학': 80, '영어': 100}, 'B': {'과학': 100, '수학': 70, '영어': 100}}

#### 3.5 Set (집합)

집합의 연산, 교집합, 합집합이 가능

In [73]:
s = set([1,2,3,4,5,1,2,3])
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [74]:
# Set (집합)
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# intersection (교집합) __ 중복된 변수를 걸러낼 수 있음
print(s1 & s2)
print(s1.intersection(s2)) # 함수로도 표현 가능

# union (합집합)
print(s1 | s2)
print(s1.union(s2))

# difference (차집합)
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

### 4.1 Data Conversion (데이터 형변환) --> 매우 중요

### 5.1 연산자

In [ ]:
5.1.1