# 2. Condition & Loop & Input & Output
- input
- print
- if, elif, else
- while
- for
- comprehension

### input

In [2]:
value = input("insert string : ")
print(type(value), value)

insert string : string
<class 'str'> string

In [1]:
#기본은 string, 그 외에는 꼭 형변환을 하자

value = int(input("insert number : "))
print(type(value), value)

insert number : 8
<class 'int'> 8

In [3]:
value = input("insert string : ")
value = value.split(" ")
print(type(value), value)

insert string : hiphop is dead for sure
<class 'list'> ['hiphop', 'is', 'dead', 'for', 'sure']

### print

In [7]:
print("fast", "campus")

fast campus

In [10]:
print("fast")
print("campus")

fast
campus

In [11]:
#줄 바꿈을 하고 싶지 않을 때
print("fast" , end="\t")
print("campus")

fast	campus

In [12]:
print("fast", end=" - ")
print("campus")

fast - campus

In [14]:
a, b = 1234, "fastcampus"
print("number : {}, string: {}".format(a, b))

number : 1234, string: fastcampus

In [5]:
a, b = "Wonyoung", "Woosung"
print("SEO: {}, Kim: {}".format(a, b))

SEO: Wonyoung, Kim: Woosung

In [15]:
a, b = 1234, "fastcampus"
print("number : {num}, string: {string}".format(num=a, string=b))

number : 1234, string: fastcampus

In [6]:
a, b = "Wonyoung", "Woosung"
print("number : {num}, string: {string}".format(num=b, string=a))

number : Woosung, string: Wonyoung

### if, elif, else
- syntax

```
if condition_1:
    code_1
elif condition_2:
    code_2
else: 
    code_3
```
- condition이 True이면 해당 조건안쪽의 코드가 실행

In [16]:
flag = True
if flag:
    print("if")
else:
    print("else")

if

In [17]:
flag = False
if flag:
    print("if")
else:
    print("else")

else

In [20]:
# 비교 연산자 사용
a, b = 30, 20
if a < b:
    print("a < b")
elif a == b:
    print("a == b")
else:
    print("a > b")

a > b

In [22]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and b < 10:
    print("code 1")
else:
    print("code 2")

code 2

In [23]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and not(b < 10):
    print("code 1")
else:
    print("code 2")

code 1

In [7]:
# len(a) == 0 과 같이 사용하지 않는다.
a, b = [], [1,2]
if a:
    print("a")
if b:
    print("b")

b

##### quiz
- 숫자를 입력 받아 짝수이면 odd, 홀수 이면 even을 출력하는 프로그램을 작성하세요.

In [29]:
number = int(input("insert number : "))


if number % 2 == 0:
    print("even")
else:
    print("odd")

insert number : 31
odd

##### 삼항 연산

In [32]:
a = 10
if a % 2 == 0:
    result = "even"
else:
    result = "odd"
result

'even'

In [31]:
a = 10
result = "even" if a % 2 == 0 else "odd"
result

'even'

In [10]:
a = int(input("input number : "))
result = "yes" if a % 3 == 0 and a % 2 == 0 else "no"
print(result)

input number : 3
no

### while
- syntax
```
while condition:
    code
```
- condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code를 실행을 반복
- break 반드시 필요하다
- continue

In [14]:
a = 5
while a > 0:
    print(a)
    a -= 1    # 1씩 빼주는 값

5
4
3
2
1

In [16]:
a = 20
while a > 0:
    print(a)
    if a % 11 == 2:
        break    # "a=가 2인 경우에 break를 걸어 루프를 빠져나와라"
    a -= 1

20
19
18
17
16
15
14
13

In [38]:
a    #break를 걸어 빠져나왔기 때문에 더 이상 진전되지 않고 2가 된다.

2

In [39]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)

1
3

### for
- syntax
```
for value in list :
    code
```
- list에 있는 value를 순서대로 하나씩 꺼내서 code를 실행
- range
- zip
- enumerate

In [40]:
ls = [0,1,2,3,4]
for value in ls:
    print(value)

0
1
2
3
4

In [41]:
# range(end)
for value in range(5):
    print(value)

0
1
2
3
4

In [42]:
# range(start:end)
for value in range(2,5):
    print(value)

2
3
4

In [43]:
# range(start:end:step)
for value in range(1,5,2):
    print(value)

1
3

In [44]:
for value in range(5,1,-1):
    print(value)

5
4
3
2

In [45]:
a = 0
for _ in range(5):    #변수 명으로 _를 잘 사용하지 않는다. 결과적으로 a를 5번만 더해준다
    a += 1
print(a)

5

##### zip
- 2개의 리스트를 key, value 형태로 묶어주는 함수

In [22]:
# 2개의 리스트를 매핑시켜 딕셔너리 형태로 변경하세요
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

In [19]:
convert_dict = {}
for idx in range(len(subjects)):
    convert_dict[subjects[idx]] = points[idx]
convert_dict

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [20]:
converted_dict = {}
for subject, point in zip(subjects, points):    #for 문에 두개를 동시에 구동
    print(subject, point)
    converted_dict[subject] = point
converted_dict

korean 100
english 80
math 90
science 60

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [49]:
tuple(zip(subjects, points)), dict(zip(subjects, points))    #zip, for문 사용 후 마지막으로 형변환을 통해 쉽게 바꿀 수 있음

((('korean', 100), ('english', 80), ('math', 90), ('science', 60)),
 {'english': 80, 'korean': 100, 'math': 90, 'science': 60})

##### enumerate
- 리스트 형태의 데이터를 index와 value 값을 동시에 사용할수 있는 함수

In [50]:
# list(enumerate(range(5,10)))
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

0 korean
1 english
2 math
3 science

##### quiz
- for문을 이용하여 리스트에 있는 모든 숫자들을 더하는 코딩을 하시오
- numbers = [1,3,5,7,9]

In [61]:
# TODO

numbers = [1,3,5,7,9]
result=0

for numbers in numbers:
    result += numbers
    
print(result)

25

### comprehention
- 반복문의 결과를 바로 리스트로 만들어 주는 방법
- 리스트에 1~5까지 숫자를 대입하는 방법

In [53]:
# method 1
ls = []
ls = [1, 2, 3, 4, 5]
print(ls)

[1, 2, 3, 4, 5]

In [54]:
# method 2
ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)
print(ls)

[1, 2, 3, 4, 5]

In [38]:
# method 3
ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

[1, 2, 3, 4, 5]

In [39]:
# method 4
ls = []
ls = [num for num in range(1,6)]
print(ls)

[1, 2, 3, 4, 5]

In [19]:
# comprehention는 for문을 사용한는 것보다 속도가 빠릅니다.

In [57]:
%%time
# compare excute time
ls = []
for num in range(1,10000):
    ls.append(num)

CPU times: user 1.8 ms, sys: 230 µs, total: 2.03 ms
Wall time: 2.04 ms

In [58]:
%%time
# comprehention 사용
ls = []
ls = [num for num in range(1,10000)]

CPU times: user 440 µs, sys: 0 ns, total: 440 µs
Wall time: 447 µs

In [ ]:
# comprehention 은 삼항연산과 함께 사용할수 있습니다.

In [59]:
# 0 ~ 10까지 숫자를 출력하고 숫자뒤에 짝수인지 홀수인지 출력하는 코드를 작성
ls = []
ls = [str(num) + ":odd" if num % 2 == 0 else str(num) + ":even" for num in range(11)]
ls

['0:odd',
 '1:even',
 '2:odd',
 '3:even',
 '4:odd',
 '5:even',
 '6:odd',
 '7:even',
 '8:odd',
 '9:even',
 '10:odd']

In [4]:
ls = [number for number in range(10)]
print(ls)

ls = [number for number in range(10) if number % 2 == 0]
print(ls)

ls = [number + 1 for number in range(10) if number % 2 == 0]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

##### quiz
- comprehention과 삼항연산을 함께 사용하여 이름 리스트에서 lee씨 성을 가진사람은 성을 삭제하는 코드를 작성하세요.
- names = ["kim test", "park python", "lee data", "jung science", "lee school"] (입력)
- names = ["kim test", "park python", "data", "jung science", "school"] (결과)

In [31]:
# TODO

names = ["kim test", "park python", "lee data", "jung science", "lee school"]
result = [name.replace("lee ", "") if name[0:4] == "lee " else name for name in names]
print(result)

['kim test', 'park python', 'data', 'jung science', 'school']

In [32]:
name = ("lee data")
name[0:4]

name.replace("lee ", "")

'data'

In [36]:
names = ["kim test", "park python", "lee data", "jung science", "lee school"]
result = [name.split(" ")[1] if name.split(" ")[0] == "lee" else name for name in names]
print(result)

['kim test', 'park python', 'data', 'jung science', 'school']