### 1. 
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
# def sum_func(n):
def sum_func(n):
    ls = []
    for num in range(1, 1000):
        if num % 3 ==0 or num % 5== 0:
            ls.append(num)
    print(sum(ls))

sum_func(1000)

233168

### 2. 
2이상 1000이하 자연수의 집합에서 소수의 개수를 구하는 알고리즘을 작성하시오.

In [1]:
def prime_func(n):

    prime_num=[]                      # 소수들이 들어갈 빈 리스트를 하나 만들고, 

    for a in range(2, 1000+1):        # 2부터 1000까지
        if a==2:                      # 2는 기본으로 추가 primenumber에 추가하고 
            prime_num.append(a) 
        else: 
            for j in prime_num: 
                if a%j==0:            # primenumber의 요소들로 i 가 나누어 떨어지는지 확인하여 
                    break             # 나누어 떨어지면 소수가 아니므로 그냥 루프를 빠져 나오고 
            if j==prime_num[-1]:    # 끝까지 나누어 떨어지는 놈이 없었는지 확인 
                prime_num.append(a) # 그렇다면 primenumber에 i를 추가한다. 
        
    print(prime_num)

In [2]:
prime_func(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

### 3. 
피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 됩니다. 1과 2로 시작하는 경우 이 수열은 아래와 같습니다.
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
짝수이면서 4백만 이하인 모든 항을 더하면 얼마가 됩니까?

In [20]:
def fibo_even(n):
    fibo = []
    a, b = 0, 1
    while a < n:
        a, b = b, a + b
        fibo.append(a)
        if b >n: 
            break
    
    fibo_even = []
    for num in fibo:
        if num % 2 == 0:
            fibo_even.append(num)
    print(sum(fibo_even))
            

    

fibo_even(4000000)

4613732

### 4. 
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가? <br>
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다. <br>
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [3]:
def count_8(n):
    ls = []
    for num in range(1, n+1):
        num2 = list(str(num))
        ls.extend(num2)
#     print(ls)
    print(ls.count("8"))

    
count_8(10000)

4000

In [15]:
str(list(range(1,10000+1))).count('8')

4000