# Numpy

In [2]:
import numpy as np

### Make

#### array

- ndim : shows number of matrix
- shape: shows shape of the matrix

In [6]:
# 1 dimension array vector (shows now comma because it's not a list)
array = np.array([[0, 1, 2, 3, 4, 5]])
print(type(array))
print(array)

<class 'numpy.ndarray'>
[[0 1 2 3 4 5]]

In [8]:
# 2 dimensions array : matrix
array = np.array([[0], [1], [3]])
print(array)

[[0]
 [1]
 [3]]

In [11]:
# 3 dimensions array

# 2*3*4 matrix
array = np.array([
    [[0, 1, 2, 3],
     [4, 5, 6, 7],
     [8, 9, 10, 11]],
    [[0, 1, 2, 3], 
     [4, 5, 100, 7], 
     [8, 9, 10, 11]]
     ])
print(array)
print(array.ndim, array.shape)

[[[  0   1   2   3]
  [  4   5   6   7]
  [  8   9  10  11]]

 [[  0   1   2   3]
  [  4   5 100   7]
  [  8   9  10  11]]]
3 (2, 3, 4)

#### reshape
- able to change the shape of the array

In [12]:
na = np.array([[1, 2, 3, 4, 5, 6, 7, 7]])
na

array([[1, 2, 3, 4, 5, 6, 7, 7]])

In [14]:
na.reshape(2, 4)

array([[1, 2, 3, 4],
       [5, 6, 7, 7]])

In [15]:
rna = np.reshape(na, (4, 2))
rna

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 7]])

In [16]:
# Transpose
rna.T

array([[1, 3, 5, 7],
       [2, 4, 6, 7]])

#### index
- returns data from certain location
- cut matrix with index

In [17]:
array

array([[[  0,   1,   2,   3],
        [  4,   5,   6,   7],
        [  8,   9,  10,  11]],

       [[  0,   1,   2,   3],
        [  4,   5, 100,   7],
        [  8,   9,  10,  11]]])

In [18]:
print(array[1][1][2])  #dimensions -> row -> column order
print(array[1, 1, 2])

100
100

In [20]:
result = array[1:, 1:, 2:]
print(result)
print(result.ndim, result.shape)

[[[100   7]
  [ 10  11]]]
3 (1, 2, 2)

In [22]:
result = array[1][2][2]
result1 = array[1, 2, 2]
print(result)
print(result1)

10
10

In [24]:
result = array[1:, 1:, 2:]
result

array([[[100,   7],
        [ 10,  11]]])

#### zeros
- fill out the matrix with zeros

In [26]:
# 1 dimension
z = np.zeros(5)
print(z)
print(z.ndim, z.shape)

[ 0.  0.  0.  0.  0.]
1 (5,)

In [27]:
# 2 dimensions (ex.2*3)
z = np.zeros((2, 3))
print(z)
print(z.ndim, z.shape)

[[ 0.  0.  0.]
 [ 0.  0.  0.]]
2 (2, 3)

In [28]:
# 3 dimensions (2*3*4)
z = np.zeros([2, 3, 4])
print(z)
print(z.ndim, z.shape)

[[[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]

 [[ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]
  [ 0.  0.  0.  0.]]]
3 (2, 3, 4)

#### ones
- fill out the matrix with ones

In [29]:
# 3 dimensions (2*3*4)
o = np.ones([2, 3, 4])
print(o)
print(o.ndim, o.shape)

[[[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]

 [[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]]
3 (2, 3, 4)

#### eye
- creates identity matrix

In [30]:
# identity matrix
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

#### like
- turn all data in matrix into one or zero

In [31]:
z

array([[[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]],

       [[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]]])

In [32]:
ls = np.ones_like(z)
print(ls)
print(ls.ndim, ls.shape)

[[[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]

 [[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]]
3 (2, 3, 4)

In [33]:
o

array([[[ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.]],

       [[ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.]]])

In [34]:
ls2 = np.zeros_like(o)
print(ls)

[[[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]

 [[ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]
  [ 1.  1.  1.  1.]]]

#### empty
- creates empty matrix
- it is not an empty data, but a dummy data

In [36]:
a = np.empty((5, 5))
print(a)

[[  0.00000000e+000  -3.10503637e+231   8.39911598e-323   0.00000000e+000
    1.23075756e-312]
 [  4.82337433e+228   6.14415221e-144   1.16097020e-028   9.15565303e-072
    9.72534841e-067]
 [  4.42320691e-062   3.97062373e+246   1.16318408e-028   6.40558355e+170
    5.53536277e+174]
 [  2.75219418e+180   4.04111407e-037   5.04621361e+180   8.37170571e-144
    4.45609509e-143]
 [  1.12855837e+277   2.87505069e+161   1.01849500e+248   1.47721841e+179
    7.48611938e-091]]

#### arange
- same as range
- **faster** than range

In [37]:
# comparison between range and arange
size = int(1E6) # E as exponential
%timeit for x in range(size): x**2
%timeit for x in np.arange(size): x**2

346 ms ± 21.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
249 ms ± 21.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [38]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
np.arange(5,10)

array([5, 6, 7, 8, 9])

In [40]:
np.arange(2, 10, 3)

array([2, 5, 8])

In [41]:
np.arange(10, 1, -2)

array([10,  8,  6,  4,  2])

#### linspace, logspace

In [42]:
np.linspace(0, 100, 5) # return evenly spaced samples

array([   0.,   25.,   50.,   75.,  100.])

In [43]:
# log10(x)=2, log10(x)=2.5, log10(x)=3
# 10**2, 10**2.5, 10**3
print(np.logspace(2, 4, 3))
print(np.logspace(2, 3, 4))

[   100.   1000.  10000.]
[  100.           215.443469     464.15888336  1000.        ]

#### random
- seed : return random number by seed number
- rand (uniform)
- randn (gaussian)
- randint
- shuffle
- choice

In [45]:
np.random.seed(0)
rd = np.random.rand(10)   # uniform distribution
rdn = np.random.randn(10) # gaussian normal distribution (returned values are likely be close to zero)
print(rd)
print(rdn)

[ 0.5488135   0.71518937  0.60276338  0.54488318  0.4236548   0.64589411
  0.43758721  0.891773    0.96366276  0.38344152]
[ 0.14404357  1.45427351  0.76103773  0.12167502  0.44386323  0.33367433
  1.49407907 -0.20515826  0.3130677  -0.85409574]

In [46]:
# e-01 -> (10**-1)
np.random.seed(1)
rd = np.random.rand(4)
rdn = np.random.randn(4)
print(rd)
print(rdn)

[  4.17022005e-01   7.20324493e-01   1.14374817e-04   3.02332573e-01]
[-0.52817175 -1.07296862  0.86540763 -2.3015387 ]

In [47]:
r = np.random.rand(2,3,4)
print(r)

[[[ 0.41919451  0.6852195   0.20445225  0.87811744]
  [ 0.02738759  0.67046751  0.4173048   0.55868983]
  [ 0.14038694  0.19810149  0.80074457  0.96826158]]

 [[ 0.31342418  0.69232262  0.87638915  0.89460666]
  [ 0.08504421  0.03905478  0.16983042  0.8781425 ]
  [ 0.09834683  0.42110763  0.95788953  0.53316528]]]

In [48]:
# only returns integers
r = np.random.randint(10, size=(3,4))
r

array([[4, 8, 1, 4],
       [0, 3, 9, 2],
       [0, 4, 9, 2]])

In [49]:
r = np.random.randint(0, 20, size=(3,3))
r

array([[ 7,  8,  9],
       [ 3,  7,  4],
       [ 5, 19,  6]])

In [50]:
# shuffle to rearrange the order.
np.random.shuffle(r)
r

# only the outer numbers are mixed
# or, you can reshape the matrix and shuffle it

array([[ 3,  7,  4],
       [ 5, 19,  6],
       [ 7,  8,  9]])

In [51]:
# return 10 of range 5 with probability of p
np.random.choice(5, 10, p=[0.1, 0, 0.3, 0.6, 0])

array([2, 3, 0, 3, 2, 3, 3, 2, 3, 3])

In [52]:
# unique : returns the unique value and its quantity.
index, count = np.unique(r, return_counts=True)
print(index)
print(count)

[ 3  4  5  6  7  8  9 19]
[1 1 1 1 2 1 1 1]

#### stack
- adding/stacking up the matrix

In [5]:
na1 = np.arange(6)
na2 = np.arange(6, 12)
print(na1, na1.shape)
print(na2, na2.shape)

[0 1 2 3 4 5] (6,)
[ 6  7  8  9 10 11] (6,)

In [6]:
na3 = np.stack((na1, na2))
print(na3, na3.shape)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]] (2, 6)

In [7]:
na3 = np.stack((na1, na2))   # no axis : stacks on horizontal direction; default
print(na3, na3.shape)

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]] (2, 6)

In [8]:
na3 = np.stack((na1, na2), axis=1)   # axis = 1: stacks on vertical direction
print(na3, na3.shape)

[[ 0  6]
 [ 1  7]
 [ 2  8]
 [ 3  9]
 [ 4 10]
 [ 5 11]] (6, 2)

In [9]:
#practice 1

ls = []
for i in range(5):
    print(range(7), i, i+3)
    print(range(7)[i:i+3])
    print(list(range(7)[i:i+3]), end="\n\n")
    ls.append(range(7)[i:i+3])
    
ls

range(0, 7) 0 3
range(0, 3)
[0, 1, 2]

range(0, 7) 1 4
range(1, 4)
[1, 2, 3]

range(0, 7) 2 5
range(2, 5)
[2, 3, 4]

range(0, 7) 3 6
range(3, 6)
[3, 4, 5]

range(0, 7) 4 7
range(4, 7)
[4, 5, 6]

[range(0, 3), range(1, 4), range(2, 5), range(3, 6), range(4, 7)]

In [10]:
# stacking up vertically

np.vstack(ls)

array([[0, 1, 2],
       [1, 2, 3],
       [2, 3, 4],
       [3, 4, 5],
       [4, 5, 6]])

In [11]:
# stacking up horizontally. but becomes a list

np.hstack(ls)

array([0, 1, 2, 1, 2, 3, 2, 3, 4, 3, 4, 5, 4, 5, 6])

In [13]:
# stacking up horizontally. and becomes an array

data = [list(range(7)[i:i+3]) for i in range(5)]
print(data)

np.stack(data, axis=1)

[[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5], [4, 5, 6]]

array([[0, 1, 2, 3, 4],
       [1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6]])

In [14]:
np.arange(5)
np.arange(5)[:, np.newaxis]

array([[0],
       [1],
       [2],
       [3],
       [4]])

##### concatenate
- horizontal concatenate must have same columns.
- vertical concatenate must have same rows.

In [16]:
r1 = np.random.randint(10, size=(2, 3))
print(r1, r1.shape)

[[4 9 5]
 [1 8 7]] (2, 3)

In [17]:
r2 = np.random.randint(10, size=(3, 2))
print(r2, r2.shape)

[[8 5]
 [1 0]
 [6 0]] (3, 2)

In [18]:
r3 = np.random.randint(10, size=(3,3))
print(r3, r3.shape)

[[7 1 5]
 [9 7 3]
 [2 7 7]] (3, 3)

In [19]:
# 가로 결합
np.concatenate([r1, r3], axis=0)  # axis = 0

array([[4, 9, 5],
       [1, 8, 7],
       [7, 1, 5],
       [9, 7, 3],
       [2, 7, 7]])

In [20]:
# 세로 결합
np.concatenate([r2, r3], axis=1)   # axis = 1

array([[8, 5, 7, 1, 5],
       [1, 0, 9, 7, 3],
       [6, 0, 2, 7, 7]])

In [23]:
np.c_[np.array([1, 2, 3]), np.array([4, 5, 6])]  # stack과 비슷

array([[1, 4],
       [2, 5],
       [3, 6]])

In [22]:
np.r_[np.array([1, 2, 3]), np.array([4, 5, 6])]

array([1, 2, 3, 4, 5, 6])

#### split

In [24]:
r = np.arange(5,20)
r

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [25]:
r1 = np.split(r, [5])
r

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [26]:
r1, r2 = np.split(r, [5]) 
r1, r2

# first splited data goes into r1
# second splited data goes into r2

(array([5, 6, 7, 8, 9]), array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]))

In [27]:
r1, r2, r3, r4, r5 = np.split(r, [2,4,6,8]) # 2,4,6,8을 기준으로 나눠 5개의 array 데이터가 생성된다.
r1, r2, r3, r4, r5

(array([5, 6]),
 array([7, 8]),
 array([ 9, 10]),
 array([11, 12]),
 array([13, 14, 15, 16, 17, 18, 19]))

#### vsplit / hsplit
- split with vertical, horizontal direction

In [28]:
r = np.random.randint(10, size=(4, 6))
r

array([[7, 6, 8, 3, 9, 4],
       [7, 7, 0, 1, 0, 4],
       [0, 9, 3, 4, 2, 1],
       [5, 3, 2, 4, 8, 5]])

In [29]:
# split at position[2]
r1, r2 = np.vsplit(r, [2])
print(r1)
print(r2)

[[7 6 8 3 9 4]
 [7 7 0 1 0 4]]
[[0 9 3 4 2 1]
 [5 3 2 4 8 5]]

In [31]:
# variation : 3 pieces, split at [1] and [2]
r1, r2, r3= np.vsplit(r, [1, 2])
print(r1)
print(r2)
print(r3)

np.vsplit

[[7 6 8 3 9 4]]
[[7 7 0 1 0 4]]
[[0 9 3 4 2 1]
 [5 3 2 4 8 5]]

In [32]:
# horizontally [2], [4]
r1, r2, r3 = np.hsplit(r, [2, 4])
print(r1)
print(r2)
print(r3)

[[7 6]
 [7 7]
 [0 9]
 [5 3]]
[[8 3]
 [0 1]
 [3 4]
 [2 4]]
[[9 4]
 [0 4]
 [2 1]
 [8 5]]

#### sort

In [33]:
r1 = np.random.randint(10, size=(3,3))
print(r1)

[[3 9 3]
 [6 9 9]
 [6 9 0]]

In [34]:
# sorting horizontally
r1.sort()
r1

array([[3, 3, 9],
       [6, 9, 9],
       [0, 6, 9]])

In [35]:
# sorting vertically
r1.sort(axis = 0)
r1

array([[0, 3, 9],
       [3, 6, 9],
       [6, 9, 9]])

### Datatype
- boolean : bool
- integer : int64
- float : float64
- byte String : S24
- unicode String : U24

In [36]:
na = np.array([True, False])
na.dtype

dtype('bool')

In [37]:
na = np.array([1, 2, 3])
na.dtype

dtype('int64')

In [38]:
na = np.array([1.0, 2.0, 3.0])
na.dtype

dtype('float64')

##### change datatype 

datatype conversion is available

In [39]:
na = np.array([-1.0, 0.0, 1.0, 2.2, 3.8])
print(na)

na = na.astype('int64')
print(na)

na = na.astype('bool')
print(na)

na = na.astype('S24')
print(na)

na = na.astype('U24')
print(na)

[-1.   0.   1.   2.2  3.8]
[-1  0  1  2  3]
[ True False  True  True  True]
[b'True' b'False' b'True' b'True' b'True']
['True' 'False' 'True' 'True' 'True']

In [41]:
na = np.random.rand(5,5)
print(na)

#  canbe converged into integer
na = (na*6+5).astype('int64')
print(na)

# drop the decimals

[[ 0.14355818  0.27551511  0.66196809  0.48556607  0.30780279]
 [ 0.10208388  0.01745927  0.41819097  0.14020364  0.99845697]
 [ 0.78332783  0.55592976  0.23227083  0.3056608   0.40052686]
 [ 0.36114236  0.56250492  0.51495249  0.93124139  0.03098946]
 [ 0.64126053  0.73287155  0.67781058  0.09879527  0.89507619]]
[[ 5  6  8  7  6]
 [ 5  5  7  5 10]
 [ 9  8  6  6  7]
 [ 7  8  8 10  5]
 [ 8  9  9  5 10]]

### Calculate
- basic calculate
- broadcasting
- functions
- performance

In [45]:
# traditional calculation ...
# list ( ls *= 3 )
ls = [1,2,3,4,5]

In [46]:
print("before : {}".format(ls))
for idx in range(len(ls)):
    ls[idx] = ls[idx] * 3
print("after : {}".format(ls))

before : [1, 2, 3, 4, 5]
after : [3, 6, 9, 12, 15]

In [48]:
# multiplication
na_2 = np.array([6,7,8,9,10])
result = na * na_2
print("{}\n{}\n{}".format(na, na_2, result))

[ 9 18 27 36 45]
[ 6  7  8  9 10]
[ 54 126 216 324 450]

In [49]:
# if == 9 True, if > 30  True
na == 9, na > 30

(array([ True, False, False, False, False], dtype=bool),
 array([False, False, False,  True,  True], dtype=bool))

In [50]:
# if multiplication of 3 True
idx = na_2 % 3 == 0
print(idx)

[ True False False  True False]

In [51]:
# 3의 배수만 남기기 - Ture, False 리스트를 offset으로 넣어주면 True인 데이터만 남는다. 
# filtering
print(na_2)
print(na_2[idx])

[ 6  7  8  9 10]
[6 9]

In [52]:
# return same number from different array
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
print(na1 == na2)
print(na1[na1 == na2])

[ True False  True  True False]
[1 3 4]

In [53]:
# 리스트에서 비교연산으로 수 추출하기
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
print(na1 >= na2)
print(na1[na1 >= na2])

[ True False  True  True  True]
[1 3 4 5]

In [54]:
# 전체 리스트 비교하기 (all)
na1 = np.array([1,2,3,4,5])
na2 = np.array([1,3,3,4,4])
na3 = np.array([1,2,3,4,5])
print(np.all(na1 == na2))
print(np.all(na1 == na3))

False
True

In [55]:
# 스칼라, 벡터, 행렬 각 요소 곱셈
na = np.arange(6)
na2 = np.arange(6,12)

print("array1 : {}".format(na))
print("array2 : {}".format(na2))

print("scala : {}".format(na * 10))
print("vector : {}".format(na * na2))

na3 = na.reshape(2,3)
na4 = na2.reshape(2,3)
print("array3 : \n{}".format(na3))
print("array4 : \n{}".format
      (na4))
print("matrix : \n{}".format(na3 * na4))

array1 : [0 1 2 3 4 5]
array2 : [ 6  7  8  9 10 11]
scala : [ 0 10 20 30 40 50]
vector : [ 0  7 16 27 40 55]
array3 :
[[0 1 2]
 [3 4 5]]
array4 :
[[ 6  7  8]
 [ 9 10 11]]
matrix :
[[ 0  7 16]
 [27 40 55]]

**broadcasting** 
apply to all matrix by just applying to one

In [57]:
# broadcating exam 1  
na1 = np.arange(12)
na2 = na1.reshape(3,4)
print("na1 : \n{}".format(na1))
print("na2 : \n{}".format(na2))

na3 = np.ones_like(na1)
na3 = na3.reshape(3,4)
print("na3 : \n{}".format(na3))

print("na2 + 1 : \n{}".format(na2 + 1)) # + 1 만해도 행렬의 모든 요소에 1을 다 더한다. (broadcating 개념)
print("na2 + na3 : \n{}".format(na2 + na3))

na1 :
[ 0  1  2  3  4  5  6  7  8  9 10 11]
na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na3 :
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]
na2 + 1 :
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
na2 + na3 :
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [59]:
# broadcating exam 2
na4 = np.arange(4)
print("na2 : \n{}".format(na2))
print("na4 : \n{}".format(na4))

print("na2 + na4 : \n{}".format(na2 + na4)) # 모든 행에 n4를 다 더한다.

na5 = np.stack((na4, na4, na4))
print("na5 : \n{}".format(na5))

print("na2 + na5 : \n{}".format(na2 + na5))

na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na4 :
[0 1 2 3]
na2 + na4 :
[[ 0  2  4  6]
 [ 4  6  8 10]
 [ 8 10 12 14]]
na5 :
[[0 1 2 3]
 [0 1 2 3]
 [0 1 2 3]]
na2 + na5 :
[[ 0  2  4  6]
 [ 4  6  8 10]
 [ 8 10 12 14]]

In [60]:
# broadcating exam 3

na6 = np.arange(3)[:,np.newaxis]
print("na2 : \n{}".format(na2))
print("na6 : \n{}".format(na6))

print("na2 + na6 : \n{}".format(na2 + na6)) # 모든 열에 na6를 다 더한다.

na7 = np.array([[ i for _ in range(4)] for i in range(3)])
print("na7 : \n{}".format(na7))

print("na2 + na7 : \n{}".format(na2 + na7))

na2 :
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
na6 :
[[0]
 [1]
 [2]]
na2 + na6 :
[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]
na7 :
[[0 0 0 0]
 [1 1 1 1]
 [2 2 2 2]]
na2 + na7 :
[[ 0  1  2  3]
 [ 5  6  7  8]
 [10 11 12 13]]

##### functions
- min, max, argmin, argmax
- sum, mean, median, std, var
- all, any
- quartile
- exp, log

In [61]:
r = np.random.rand(2,3)
r_num = np.arange(5)
r_num = (r*10).astype('int64')
print("random matrix : \n{}".format(r_num))
print("min : {}".format(r_num.min()))
print("max : {}".format(r_num.max()))
print("argmin : {}".format(r_num.argmin())) # 최소값 위치
print("argmax : {}".format(r_num.argmax())) # 최대값 위치
print("mean : {}".format(r_num.mean()))

random matrix :
[[6 9 6]
 [1 2 1]]
min : 1
max : 9
argmin : 3
argmax : 1
mean : 4.166666666666667

In [62]:
r = np.random.rand(2,3)
r_num = np.arange(5)
r_num = (r*10).astype('int64')
print("random matrix : \n{}".format(r_num))
print("sum : {}".format(np.sum(r_num)))
print("sum_axis_0 : {}".format(np.sum(r_num, axis=0)))
print("sum_axis_1 : {}".format(np.sum(r_num, axis=1)))
print("median : {}".format(np.median(r_num)))  # 중앙값
print("std : {}".format(np.std(r_num))) # standard deviation (표준편차)
print("var : {}".format(np.var(r_num))) # variance (변화량)

random matrix :
[[2 6 5]
 [3 8 7]]
sum : 31
sum_axis_0 : [ 5 14 12]
sum_axis_1 : [13 18]
median : 5.5
std : 2.1147629234082537
var : 4.472222222222223

In [63]:
# all
# True if satisfies all
n1 = np.array(range(3,8))
n2 = n1
n3 = np.array(range(1,11,2))

print(n1, n2, n3, end="\n\n")

print(n1 ==  n2)
print(np.all(n1 ==  n2))
print(n1 ==  n3)
print(np.all(n1 ==  n3))
print(n1 >  n3)
print(np.all(n1 >  n3))

[3 4 5 6 7] [3 4 5 6 7] [1 3 5 7 9]

[ True  True  True  True  True]
True
[False False  True False False]
False
[ True  True False False False]
False

In [64]:
# quartile (사분위수)
na = np.array([num for num in range(0,51)])
print(na)
np.percentile(na, 25), np.percentile(na, 45)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49
 50]

(12.5, 22.5)

In [65]:
# exponential function (지수함수)
na = np.arange(1,6)
print(na)
print(np.exp(na))


# 데이터가 너무 작을 때, 숫자 간의 차이를 확대해서 보고 싶을 때

[1 2 3 4 5]
[   2.71828183    7.3890561    20.08553692   54.59815003  148.4131591 ]

In [66]:
# log function (로그함수)
na = np.arange(1,6)
print(na)
print(np.log(na))

# 데이터 값이 너무 커서, 차이를 축소해서 보고 싶을 때

[1 2 3 4 5]
[ 0.          0.69314718  1.09861229  1.38629436  1.60943791]

In [68]:
ls = []
size = int(1E7)
for data in range(size):
    ls.append(data)
na = np.array(ls)

In [70]:
%%time
count = 0
for idx in range(len(ls)):
    if (ls[idx] % 3 == 0) or (ls[idx] % 5 == 0):
        count += 1
        
print(count)

4666667
CPU times: user 2.79 s, sys: 14.4 ms, total: 2.8 s
Wall time: 2.82 s

In [71]:
%%time
count = len(na[(na%3==0) | (na%5==0)])
print(count)

4666667
CPU times: user 386 ms, sys: 73.9 ms, total: 460 ms
Wall time: 466 ms