### 1. 
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
# def sum_func(n):
def sum_func(n):
    ls = []
    for num in range(1, 1000):
        if num % 3 ==0 or num % 5== 0:
            ls.append(num)
    print(sum(ls))

sum_func(1000)

233168

### 2. 
2이상 1000이하 자연수의 집합에서 소수의 개수를 구하는 알고리즘을 작성하시오.

In [1]:
def prime_func(n):

    prime_num=[]

    for a in range(2, 1000+1):
        if a==2:
            prime_num.append(a) 
        else: 
            for j in prime_num: 
                if a%j==0:
                    break
            if j==prime_num[-1]:
                prime_num.append(a)
        
    print(len(prime_num))

In [2]:
prime_func(1000)

168

### 3. 
피보나치 수열의 각 항은 바로 앞의 항 두 개를 더한 것이 됩니다. 1과 2로 시작하는 경우 이 수열은 아래와 같습니다.
1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
짝수이면서 4백만 이하인 모든 항을 더하면 얼마가 됩니까?

In [20]:
def fibo_even(n):
    fibo = []
    a, b = 0, 1
    while a < n:
        a, b = b, a + b
        fibo.append(a)
        if b >n: 
            break
    
    fibo_even = []
    for num in fibo:
        if num % 2 == 0:
            fibo_even.append(num)
    print(sum(fibo_even))
            

    

fibo_even(4000000)

4613732

### 4. 
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가? <br>
8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다. <br>
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [3]:
def count_8(n):
    ls = []
    for num in range(1, n+1):
        num2 = list(str(num))
        ls.extend(num2)
#     print(ls)
    print(ls.count("8"))

    
count_8(10000)

4000

In [15]:
str(list(range(1,10000+1))).count('8')

4000