### Quiz

In [2]:
import numpy as np

##### 1. 5개의 1로 이루어진 정수데이터 타입의 벡터를 만드세요

In [3]:
v = np.ones(5)
v.astype('int64')

array([1, 1, 1, 1, 1])

In [4]:
# 강사님

np.ones(5, dtype=int)

array([1, 1, 1, 1, 1])

##### 2. 10개의 1로 이루어진 정수 데이터 타입의 벡터에서 마지막 3개의 데이터는 5가 들어있는 벡터를 만드세요

In [5]:
v = np.ones(10).astype('int64')
v[7:] = 5
v

array([1, 1, 1, 1, 1, 1, 1, 5, 5, 5])

In [6]:
# 강사님
data = np.ones(10, dtype=int)
data[-3:] = 5
data

array([1, 1, 1, 1, 1, 1, 1, 5, 5, 5])

##### 3. 10에서 20까지의 데이터를 가지는 벡터를 만드세요

In [7]:
n = np.arange(10, 20+1)
n

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

##### 4. 위 벡터의 순서를 바꾸세요

In [8]:
n[::-1]

array([20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10])

##### 5. 0부터 8까지의 값을 가지는 3x3 행렬을 만드세요

In [38]:
m = np.arange(0, 8+1)
M = m.reshape(3, 3)
M

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
# 강사님
M = np.arange(9).reshape(3, 3)
M

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

##### 6. 위의 벡터에서  `[[4,5],[7,8]]`  행렬을 만드세요

In [48]:
m1, m2 = np.vsplit(M, [1])
m3, m4 = np.hsplit(m2, [1])

m4

array([[4, 5],
       [7, 8]])

In [11]:
# 강사님
M[1:, 1:]

array([[4, 5],
       [7, 8]])

##### 7. 1에서 10까지의 데이터를 랜덤하게 가지는 3*4 행렬을 만드세요

In [12]:
r = np.random.randint(1, 11, size=(3, 4))
r

array([[ 7,  2, 10,  6],
       [ 8,  6,  2,  4],
       [ 3,  6,  9,  8]])

In [22]:
# 강사님
np.random.randint(1, 11, (3, 4))

array([[8, 6, 9, 3],
       [7, 8, 2, 4],
       [9, 6, 1, 4]])

##### 8. 위에서 만든 행렬의 unique 한 숫자들 리스트와 각숫자의 갯수를 리스트로 나타내세요

In [13]:
np.unique(r, return_counts=True)

(array([ 2,  3,  4,  6,  7,  8,  9, 10]), array([2, 1, 1, 3, 1, 2, 1, 1]))

##### 9. 1에서 12까지에 숫자가 들어간 3*4 행렬을 만드시고 행과 열에 관계없이 데이터를 섞으세요. 안에 있는 데이터까지 다 섞어라

In [21]:
n = np.arange(1, 12+1)
n.reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [22]:
np.arange(1, 12+1).reshape(3, 4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [23]:
n = n.reshape(12)
np.random.shuffle(n)
n.reshape(3, 4)

array([[ 8,  6, 11, 12],
       [ 3,  9, 10,  1],
       [ 7,  2,  4,  5]])

##### 10. 1부터 10까지의 랜덤한 데이터가 들어가는 `3*3`행렬을 만드시고 가장 아래에 위의 데이터를 모두 합한 `1*3`행렬을 추가해서 `4*3`행렬을 만드세요

In [33]:
b = np.random.randint(1, 10, size=(3,3))
print(b)
b1, b2, b3 = np.split(b, 3)
b4 = b1+b2+b3    # ---> sum 을 적용했으면 더 좋았을텐데
b5 = np.concatenate([b, b4], axis=0)
b5

[[4 3 9]
 [4 1 9]
 [4 2 3]]

array([[ 4,  3,  9],
       [ 4,  1,  9],
       [ 4,  2,  3],
       [12,  6, 21]])

In [35]:
# 강사님
data = np.random.randint(1, 11, size=(3, 3))
print(data)
sum_data = np.sum(data, axis=0).reshape(1,3)
np.concatenate([data, sum_data])

[[10  5  2]
 [10  6  6]
 [ 8  7  6]]

array([[10,  5,  2],
       [10,  6,  6],
       [ 8,  7,  6],
       [28, 18, 14]])

##### 11. 10번문제의 결과로 나온 행렬데이터에서 평균값을 출력하고 평균값보다 큰 숫자들만 유니크한 리스트로 나열하세요 (평균값은 소수 둘째 자리까지만 나타내세요)

In [54]:
b5_mean = float(format(b5.mean(), '.2f'))
print("avg : {}".format(b5_mean))

b6 = []
for i in range(4):
    for j in range(3):
        if b5[i][j] > b5_mean:
            b6.append(b5[i][j])
    else:
        pass

print(np.unique(b6, return_counts=False))

avg : 7.83
[ 8  9 12 16 19]

In [36]:
# 강사님
avg_data = data.mean()
data = data[data > avg_data]
print("avg: ", round(avg_data, 2))
np.unique(data)

avg:  6.67

array([ 7,  8, 10])

##### 12. 1부터 20까지의 랜덤숫자를 가지는 5*5 행렬을 만드시고 최대값에는 숫자(MAX), 최소값에는 숫자(MIN)으로 행렬을 바꾸세요

In [57]:
r = np.random.randint(20, size=(5, 5))
print(r)
r_max = r.max()
r_min = r.min()
print("MAX : {}".format(r_max))
print("MIN : {}".format(r_min))

for i in range(5):
    for j in range(5):
        if r[i][j] == r_max:
            r[i][j] = 11111
        elif r[i][j] == r_min:
            r[i][j] = 99999
        

r1 = r.astype('U24')
for i in range(5):
    for j in range(5):
        if r1[i][j] == "11111":
            r1[i][j] = "{}({})".format(r_max, "(MAX)")
        elif r1[i][j] == "99999":
            r1[i][j] = "{}({})".format(r_min, "(MIN)")


print(r1)

[[16 12 14 18  5]
 [ 9 17 12 19 17]
 [ 1  3 12 18  5]
 [12 10 10 17  1]
 [ 6  4  8  5  4]]
MAX : 19
MIN : 1
[['16' '12' '14' '18' '5']
 ['9' '17' '12' '19((MAX))' '17']
 ['1((MIN))' '3' '12' '18' '5']
 ['12' '10' '10' '17' '1((MIN))']
 ['6' '4' '8' '5' '4']]

In [39]:
# 강사님
data = np.random.randint(1, 21, size=(5, 5))
print(data)
min_number, max_number = np.min(data), np.max(data)
print("MAX : {}".format(min_number))
print("MAX : {}".format(max_number))

min_idx = data == min_number
max_idx = data == max_number

data = data.astype("str")
data[min_idx] = str(min_number) + "(MIN)"
data[max_idx] = str(max_number) + "(MAX)"
data

[[19 18  9 15  8]
 [16 15 14  2 12]
 [ 7 14  2  4  1]
 [13  6  8 20  8]
 [ 9  1 14 15  4]]
MAX : 1
MAX : 20

array([['19', '18', '9', '15', '8'],
       ['16', '15', '14', '2', '12'],
       ['7', '14', '2', '4', '1(MIN)'],
       ['13', '6', '8', '20(MAX)', '8'],
       ['9', '1(MIN)', '14', '15', '4']],
      dtype='<U21')

##### 13. 100에서 120까지의 랜덤 숫자를 가지는 8*8행렬을 만드시고 3의 배수에는 fiz, 5의 배수에는 buz, 3과 5의 배수는 fbz 문자를 출력하세요

In [42]:
r = np.random.randint(100, 120+1, size=(8, 8))
print(r)

for i in range(8):
    for j in range(8):
        if r[i][j] % 3 == 0 and r[i][j] % 5 == 0:
            r[i][j] = 15
        elif r[i][j] % 3 == 0:
            r[i][j] = 3
        elif r[i][j] % 5 == 0:
            r[i][j] = 5
  
r1 = r.astype('U24')
for i in range(8):
    for j in range(8):
        if r1[i][j] == "15":
            r1[i][j] = "fbz"
        elif r1[i][j] == "5":
            r1[i][j] = "buz"
        elif r1[i][j] == "3":
            r1[i][j] = "fiz"


r1

[[111 112 104 108 108 120 106 108]
 [104 112 107 105 102 118 102 111]
 [110 109 109 116 115 110 118 104]
 [104 101 101 112 103 117 108 107]
 [100 100 118 120 104 103 110 107]
 [111 108 114 106 106 100 109 110]
 [104 101 110 119 103 112 105 112]
 [116 110 101 116 111 111 107 103]]

array([['fiz', '112', '104', 'fiz', 'fiz', 'fbz', '106', 'fiz'],
       ['104', '112', '107', 'fbz', 'fiz', '118', 'fiz', 'fiz'],
       ['buz', '109', '109', '116', 'buz', 'buz', '118', '104'],
       ['104', '101', '101', '112', '103', 'fiz', 'fiz', '107'],
       ['buz', 'buz', '118', 'fbz', '104', '103', 'buz', '107'],
       ['fiz', 'fiz', 'fiz', '106', '106', 'buz', '109', 'buz'],
       ['104', '101', 'buz', '119', '103', '112', 'fbz', '112'],
       ['116', 'buz', '101', '116', 'fiz', 'fiz', '107', '103']],
      dtype='<U24')

In [31]:
# index를 생성해서 ... 거기다 선언을 해주고 변환 해주는 방법이 효율적

# 3으로 나뉘는 건 index_3
# 5로 나뉘는 건 index_5
# 15로 나뉘는 건 index_15

In [41]:
data = np.random.randint(100, 121, size=(8,8))
print(data)

idx_3 = data % 3 == 0 
idx_5 = data % 5 == 0
idx_15 = data % 15 == 0

data = data.astype("str")
data[idx_3] = "fiz"
data[idx_5] = "buz"
data[idx_15] = "fbz"
data

[[113 107 118 112 115 111 109 110]
 [112 101 114 112 112 101 104 100]
 [110 110 102 114 111 108 104 112]
 [116 117 101 100 112 108 119 117]
 [101 109 118 106 114 113 116 114]
 [104 107 107 119 101 103 118 112]
 [113 116 109 114 120 105 115 100]
 [114 119 114 118 120 104 116 111]]

array([['113', '107', '118', '112', 'buz', 'fiz', '109', 'buz'],
       ['112', '101', 'fiz', '112', '112', '101', '104', 'buz'],
       ['buz', 'buz', 'fiz', 'fiz', 'fiz', 'fiz', '104', '112'],
       ['116', 'fiz', '101', 'buz', '112', 'fiz', '119', 'fiz'],
       ['101', '109', '118', '106', 'fiz', '113', '116', 'fiz'],
       ['104', '107', '107', '119', '101', '103', '118', '112'],
       ['113', '116', '109', 'fiz', 'fbz', 'fbz', 'buz', 'buz'],
       ['fiz', '119', 'fiz', '118', 'fbz', '104', '116', 'fiz']],
      dtype='<U21')

##### 14. 리스트 컴프리헨션을 이용하여 아래와 같은 규칙은 갖는 행렬을 만드세요

In [23]:
n = int(input())
np.array([np.arange(i, i*(n+1), i) for i in range(1, n+1)])

5

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10],
       [ 3,  6,  9, 12, 15],
       [ 4,  8, 12, 16, 20],
       [ 5, 10, 15, 20, 25]])

In [24]:
n = int(input())
np.array([np.arange(i, i*(n+1), i) for i in range(1, n+1)])

7

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 2,  4,  6,  8, 10, 12, 14],
       [ 3,  6,  9, 12, 15, 18, 21],
       [ 4,  8, 12, 16, 20, 24, 28],
       [ 5, 10, 15, 20, 25, 30, 35],
       [ 6, 12, 18, 24, 30, 36, 42],
       [ 7, 14, 21, 28, 35, 42, 49]])

In [43]:
# 강사님

number = 5
data = np.array([[ i*j for j in range(1, number + 1)] for i in range(1, number + 1)])
print("number : ", number)
data

number :  5

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10],
       [ 3,  6,  9, 12, 15],
       [ 4,  8, 12, 16, 20],
       [ 5, 10, 15, 20, 25]])

In [44]:
number = 7
data = np.array([[ i*j for j in range(1, number + 1)] for i in range(1, number + 1)])
print("number : ", number)
data

number :  7

array([[ 1,  2,  3,  4,  5,  6,  7],
       [ 2,  4,  6,  8, 10, 12, 14],
       [ 3,  6,  9, 12, 15, 18, 21],
       [ 4,  8, 12, 16, 20, 24, 28],
       [ 5, 10, 15, 20, 25, 30, 35],
       [ 6, 12, 18, 24, 30, 36, 42],
       [ 7, 14, 21, 28, 35, 42, 49]])