# Basic Syntax

- identifiers
- variables
- data type
- data type conversion
- operation

### 1. identifiers

- Assigned name to distinguish variables, functions, class, modules
- rules
    - lower, capital letters
    - a~z, A~Z, 0~9 and only underscore (_)
    - not allowed : other types of letters
    - not allowed : starting with number
    - not allowed : *Fasle, class, finally, is, return, None, continue, for, lambda, try, True, def, from, nonlocal, while, and, del, global, not, with, as, elif, if, or, yield, assert, else, import, pass, break, except, in, raise*

### 2. variables
- A memory space for saving data
- 3 types of naming rules
    - snake_case (normally used for variables)
    - PascalCase
    - camelCase

### 3. data type

- numbers
    - int
    - flot
    - complex
- boolean
    - True / False
- string
    - array of words (number can also be displayed as word, not an int)

#### collections
- list
    - list of data with order
- tuple
    - list of data with order but cannot be revised (takes up less memory size)
- dictionary
    - data type links key & value
- set
    - data type with no order, but no overlapping value

**int**

In [9]:

a, b, c, d = 0.0, 998.3223, -188723.1233, +29993.111
print(type(a),type(b),type(c),type(d))
print(a, b, c, d)

<class 'float'> <class 'float'> <class 'float'> <class 'float'>
0.0 998.3223 -188723.1233 29993.111

In [10]:
# float

a, b, c, d = 0.0, 998.3223, -188723.1233, +29993.111
print(type(a),type(b),type(c),type(d))
print(a, b, c, d)

<class 'float'> <class 'float'> <class 'float'> <class 'float'>
0.0 998.3223 -188723.1233 29993.111

In [11]:
# complex number

a = 2 + 3j
print(a)
b = complex(3, -4)
print(b)
print(type(a), type(b))

(2+3j)
(3-4j)
<class 'complex'> <class 'complex'>

In [12]:
# boolean

a, b = True, False
print(type(a), type(b))
print(a, b)

<class 'bool'> <class 'bool'>
True False

**string**

In [13]:
a, b, c, d = "FastCampus", "데이터사이언스", '데이터"Science', "데이터'Science"
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

('FastCampus', '데이터사이언스', '데이터"Science', "데이터'Science")

In [14]:
# copying string

a = "Fast " * 4
a

'Fast Fast Fast Fast '

In [15]:
# slice
# str[start:end:step]
a = "abcdefghijk"
a[1:3], a[0:5], a[-3:], a[::2]

('bc', 'abcde', 'ijk', 'acegik')

In [17]:
a = "abcdefghijk"
a[::-1]

# rearranging backward

'kjihgfedcba'

In [18]:
# length

a = "abcdefghijk"
len(a)

11

In [19]:
a = "abcdefghijk"
a[:len(a)], a[:]

('abcdefghijk', 'abcdefghijk')

string inner function
- https://docs.python.org/3/library/stdtypes.html#string-methods

In [20]:
a = "  FAST campus datascience  "

# upper() - upper case
print(a.upper())

# lower() - lower case
print(a.lower())

  FAST CAMPUS DATASCIENCE
  fast campus datascience

In [24]:
# find() - return the location of the value 
# (if none, return -1)
print(a.find("c"))
print(a.find("q"))

# index() - return the location of the value 
# (if non, return value error 리턴)
print(a.index("c"))
print(a.index("q"))

7
-1
7

ValueError: substring not found

In [25]:
# count() - return the quantity of the values
print(a.count("da"))

1

In [26]:
# lstrip() - remove left blank space
print(a.lstrip(), end="!\n")

# rstrip() - remove right blank space
print(a.rstrip(), end="!\n")

# strip() - remove both side blank space
print(a.strip(), end="!\n")

FAST campus datascience  !
  FAST campus datascience!
FAST campus datascience!

In [27]:
# replace() - replace a with b
print(a.replace("a","b"))

  FAST cbmpus dbtbscience

In [28]:
# split() - split the value with given string and return as list
print(a.split(" "))

['', '', 'FAST', 'campus', 'datascience', '', '']

In [29]:
# endswith() - return true if last strings are identical
print(a.rstrip().endswith("datascience"))

True

In [30]:
# join() - add all strings
a = ["fast", "campus", "data", "science"]
print("-".join(a))

fast-campus-data-science

**list**

In [31]:
a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]
c = [1, "fast", True]
print(type(a), type(b), type(c))
a, b, c

<class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'], [1, 2, 3, 4], [1, 'fast', True])

In [32]:
# offset
a = ["fast", "campus", "data", "science"]
print(a[1], a[-1], a[1:3], a[:], a[::-2])
a[-2] = "pdj"
a

campus science ['campus', 'data'] ['fast', 'campus', 'data', 'science'] ['science', 'campus']

['fast', 'campus', 'pdj', 'science']

list inner function

In [34]:
a = ["fast", "campus", "data", "science"]
b = [1,2,3,4]

In [35]:
# append() - add string to the last list
a.append("fighting!")
print(a)

['fast', 'campus', 'data', 'science', 'fighting!']

In [36]:
# sort() - sorting
b.sort() # in alphabetical ordrer
a.sort(key=len) # in length of words
print(a)
print(b)

['fast', 'data', 'campus', 'science', 'fighting!']
[1, 2, 3, 4]

In [37]:
# reverse() - reverse sorting
b.reverse()
print(b)

[4, 3, 2, 1]

In [38]:
# index() - return location of data
print(a.index('campus'))

2

In [39]:
# insert() - add to certain index location
a.insert(2, 'index')
a.insert(5, 'index')
print(a)

['fast', 'data', 'index', 'campus', 'science', 'index', 'fighting!']

In [40]:
# remove() - remove corresponding dat(but only one)
a.remove('index')
print(a)

['fast', 'data', 'campus', 'science', 'index', 'fighting!']

In [41]:
# pop() - return the last value and remove it
print(a.pop())
print(a)

fighting!
['fast', 'data', 'campus', 'science', 'index']

In [42]:
# list copy

# a, b shares the same memory
a = [1,2,3]
b = a
print(a, b)

a[2] = 4
print(a, b)

# a, c shares separete memory, thus not affected by a
c = a.copy()
print(a,c)

a[2] = 5
print(a,c)

[1, 2, 3] [1, 2, 3]
[1, 2, 4] [1, 2, 4]
[1, 2, 4] [1, 2, 4]
[1, 2, 5] [1, 2, 4]

**tuple**

In [43]:
a = 1, 2, 3, 4
b = "fast", "campus", "data", "science"
c = 1, "fast", True
d = (1, "fast", True)
print(type(a), type(b), type(c), type(d))
print(a, b, c, d)

<class 'tuple'> <class 'tuple'> <class 'tuple'> <class 'tuple'>
(1, 2, 3, 4) ('fast', 'campus', 'data', 'science') (1, 'fast', True) (1, 'fast', True)

In [45]:
print(a[2])
print(a[1:3])

3
(2, 3)

In [46]:
# cannot modify
a[1] = 3

TypeError: 'tuple' object does not support item assignment

What are the advantages of tupel?
- takes up less memory space than list
- impossible to motify the data (useful when keeping the data
- can be used ass dictionary keys

**Dictionary**

In [47]:
dic = { 
    1:"one",
    "A": ["data", "science"],
    "숫자": 1234,
    }
print(type(dic))
print(dic)

<class 'dict'>
{1: 'one', 'A': ['data', 'science'], '숫자': 1234}

In [48]:
dic[1] = "하나"
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

dictionary inner functions

In [49]:
# keys() - return keys
print(dic.keys())

dict_keys([1, 'A', '숫자'])

In [50]:
# values() - return values
print(dic.values())

dict_values(['하나', '알파벳', 1234])

In [51]:
# items() - returns keys and values
print(dic.items())

dict_items([(1, '하나'), ('A', '알파벳'), ('숫자', 1234)])

In [52]:
# clear() - clear all data in dictionary
dic.clear()
print(dic)

{}

In [54]:
# get() - return the corresponding value
dic = { 
    1:"one",
    2:"two",
    3:"three",
    }
print(dic.get(2))
print(dic.get(4))

two
None

In [55]:
# print(dic[4]) 
print(dic.get(4,"no_data")) 
# get, can prevent errors
# if no 4, print "no_data"

no_data

In [56]:
# copy() - 리스트와 마찬가지로 다른 저장공간을 가지는 데이터를 대입한다.
dic2 = dic
print(dic, dic2)
dic[1] = "하나"
print(dic, dic2)
dic3 = dic.copy()
dic[1] = "A"
print(dic, dic3)

{1: 'one', 2: 'two', 3: 'three'} {1: 'one', 2: 'two', 3: 'three'}
{1: '하나', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}
{1: 'A', 2: 'two', 3: 'three'} {1: '하나', 2: 'two', 3: 'three'}

In [57]:
# update() - 데이터를 업데이트
a = {1:"a", 2:"b"} 
b = {2:"c", 3:"d"}
print(a)
a.update(b)
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'c', 3: 'd'}

practice

create dictionary with given data

- student A - math : 80, english : 100, science : 90
- student B - math : 70, english : 100, science : 100

In [59]:
data = {
    'A' : {'math' : 80, 'english' : 100, 'science' : 90},
    'B' : {'math' : 70, 'english' : 100, 'science': 100}
    }

data

{'A': {'english': 100, 'math': 80, 'science': 90},
 'B': {'english': 100, 'math': 70, 'science': 100}}

**set**

In [60]:
s = set([1,2,3,4,5,1,2,3])
print(type(s))
print(s)

<class 'set'>
{1, 2, 3, 4, 5}

In [61]:
# Set
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# intersection
print(s1 & s2)
print(s1.intersection(s2))

# union
print(s1 | s2)
print(s1.union(s2))

# difference
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [62]:
s = list(s)
s[4] = 10
s = set(s)
s

{1, 2, 3, 4, 10}

### 4. data type conversion

In [63]:
# convert to int from string
s = "1234"
n = int(s)
print(type(n), n)

<class 'int'> 1234

In [64]:
# convert to string from int
n = 1234
s = str(n)
print(type(s), s)

<class 'str'> 1234

In [65]:
# word string cannot converged to int
s = "a"
n = int(s)
print(type(n), n)

ValueError: invalid literal for int() with base 10: 'a'

In [66]:
# boolean 형변환
print(bool(""), bool("asedf"))
print(bool(-1), bool(0), bool(1), bool(0.0), bool(0.1))
a, b = [], [1,2]
print(bool(a), bool(b))

False True
True False True False True
False True

In [67]:
a, b = [], [1,2,3]

if len(a) > 0:
    print(a)
else:
    print("no_data")

if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2, 3]

In [68]:
# convert to list from string
s = "fast"
ls = list(s)
print(ls)

['f', 'a', 's', 't']

In [69]:
# convert dictionary to tuple
d = {1:"one", 2:"two"}
t = tuple(d)
print(t)
t = tuple(d.items())
print(t)

(1, 2)
((1, 'one'), (2, 'two'))

In [70]:
# convert tuple to dict
t = ((1,"one"),(2,"two"))
dict(t)

{1: 'one', 2: 'two'}

### 4. operator

- types of operatior
    - Arithmetic Operators : `+, -, *, /, //, %, **`
    - Comparison Operators : `==, !=, >, <, =>, =<`
    - Assignment Operators : `=, +=, -=, *=, /=, %=, //=, **=`
    - Bitwise Operators : `&, |, ^, ~, <<, >>`
    - Logical Operators : `and, or, not`
    - Membership Operators : `in, not in` 
    - Identity Operators : `is, is not`

In [73]:
# arithmetic operator
# +, -, *, /, //, %, **

print(2 + 4)
print(2 - 4)
print(2 * 4)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(3 ** 4)

6
-2
8
3.3333333333333335
3
1
81

In [74]:
# comparison operator
# ==, !=, >, <, >=, <=

a, b = 10, 20

print(a==b)   # 같다
print(a!=b)   # 같지 않다
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [77]:
# assignment operator
# =, +=, -=, *=, /=, %=, //=, **=

a = 5
print(a)

a += 10
print(a)

a -= 5
print(a)

a *= 10
print(a)

a /= 5
print(a)

a %= 8  # --> 나누기 후 나머지
print(a)

a //= 2
print(a)

a **= 3
print(a)

5
15
10
100
20.0
4.0
2.0
8.0

In [80]:
# bitwise operator
# &, |, ^, ~, <<, >>

# a bit faster

a = 3 # 011
b = 5 # 101

print(a&b, bin(a&b))
print(a|b, bin(a|b))
print(a^b, bin(a^b))
print(~a, bin(~a))
print(~b, bin(~b))
print(a<<2, bin(a<<2))
print(b>>1, bin(b>>1))

1 0b1
7 0b111
6 0b110
-4 -0b100
-6 -0b110
12 0b1100
2 0b10

In [81]:
# logical operator
# and, or, not

print( True and True )
print( True and False )

print( True or True )
print( True or False )

print( not(True and True) )
print( not(True and False) )

True
False
True
True
False
True

In [83]:
# membership operator
a = [1,2,3,4]
print(1 in a)
print(5 in a)
print(1 not in a)

True
False
False

In [84]:
# identity operator
# is, is not
a = "a"
b = a
print( a is b )

b = "a"
print( a is b )

print( a is not b )

True
True
False